{# Page Not Found - We couldn't find the page you were looking for. Home button #}

{% extends "pages/base/template.html" %}

{% block content %}

	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>

	<center>
		<h5 class="purple-text text-darken-2">Server Error</h5>
		<div class="section"></div>

		<div class="row container">
		  <div class="z-depth-1 grey lighten-4 col xl6 offset-xl3 s12" style="display: inline-block; padding: 10px 60px 15px 60px; border: 1px solid #EEE;">

				<div class="section"></div>
				<p>Oops, something went wrong.</p>
				<p>Try to refresh this page or feel free to contact us if the problem persists.</p>
		    
				<br />

				<div class='row'>
					<div class="col xl6 s12" style="margin-bottom: 15px;">
	          <button type='submit' class='col s12 btn btn-large waves-effect purple darken-1' onclick="window.history.back()">Go Back</button>
					</div>
					<div class="col xl6 s12">
	          <a href="/" class='col s12 btn btn-large waves-effect purple darken-1'>Home</a>
					</div>
	      </div>

		  </div>
		</div>
	</center>

	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
{% endblock content %}