{% load static %}

<div class="carousel carousel-slider center " data-indicators="true">
    {% if project.images.count > 0 %}
        <div class="carousel-fixed-item center middle-indicator">
            <div class="left">
                <a href="#" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
            </div>
            <div class="right">
                <a href="#" class="moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
            </div>
        </div>
    {% endif %}
        
    <div class="carousel-item" href="#one!">
        <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}">
    </div>
    {% for image in project.images.all %}
        <div class="carousel-item" href="#two!">
            <img src="{{ image.image.url }}" alt="{{ project.title }}">
        </div>
    {% endfor %}
    
</div>