{% extends 'pages/base/template.html' %} 

{% load static %}
{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "shop/css/materialize-social.css" %}"  media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{% static "shop/css/product_single.css" %}"  media="screen,projection" />
{% endblock head %} 

{% block content %}

	<div class="newcontainer">

	  <div class="section">
	    <div class="row" style="margin-bottom: 10px;">
	      <div class="col l8 m12 s12">
	          {% include "portfolio/project_single_carousel.html" with head=head %}
	      </div>
	      <div class="col l4 m12 s12">
	      		{% include "portfolio/project_single_info.html" %}
	      </div>
	    </div>
        
        <div class="row" style="margin: 0px 0px 5px 0px;">
          <div class="col l8 m12 s12">
              <div class="section center" style="padding: 0px;">
                  <h5 style="margin: 0px; font-weight: 600;">{{ project.title }}</h5>
              </div>
          </div>
        </div>
        
	    <div class="row">
	    	<div class="col l8 m12 s12">
	          
						<div class="card purple darken-2">
			        <div class="card-content white-text">
			          <span class="card-title">Project description</span>
			          <p>{{ project.description }}</p>
			        </div>

			      </div>

	      </div>
	    </div>
	  </div>
	</div>

	{# TODO: Other creations by the Author #}

{% endblock content %} 

{% block scripts %}
    <script type="text/javascript" src="{% static "shop/js/product_single.js" %}"></script>
{% endblock scripts %}