{% load static %}

<style>

.project-title {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.project-card:hover .project-title {
    visibility: visible;
    opacity: 1;
}

</style>

<div class="col xl4 l6 s12">
  <div class="card">
    <div class="card-image project-card">
      <a href="{% url 'portfolio_project_view' slug=project.slug %}"><img height="275" src="{{ project.thumbnail.url }}" alt="{{ project.title }}">
      <span class="card-title project-title"><span class="project_title"><b>{{ project.title }}</b></span></span></a>
    </div>
    <div class="card-content" style="padding-bottom: 0px; word-wrap: break-word;">
      <p>{{ project.description|truncatewords:27 }}</p>
      <br />
    </div>
    <div class="card-action">
      <div class="row" style="margin-bottom: 0px;">

        <div class="col s2">
          <a href="{{ project.planet_minecraft }}" class="waves-effect waves-light social-icon btn green darken-1 tooltipped" data-position="right" data-tooltip="See on Planet Minecraft" target="_blank">
          <i class="fas fa-globe-americas"></i></a>
        </div>        
          
        <div class="col s10">
          <div class="right">
            <a class="waves-effect waves-light social-icon btn facebook" style="margin-right: 5px;">
            <i class="fab fa-facebook-f"></i></a>

            <a class="waves-effect waves-light social-icon btn twitter" style="margin-right: 5px;">
            <i class="fab fa-twitter"></i></a>

            <a class="waves-effect waves-light social-icon btn google" style="margin-right: 5px;">
            <i class="fab fa-google-plus-g"></i></a>

            <a class="waves-effect waves-light social-icon btn pinterest">
            <i class="fab fa-pinterest-p"></i></a>
          </div>
        </div>

      </div>

      {% if perms.portfolio.manage_projects %}
        <br>
        <div class="divider"></div>
        <br>
        <div class="row" style="margin-bottom: 0px;">
          <div class="left" style="margin-left: 10px;">
            <a href="{% url 'portfolio_project_update' slug=project.slug %}" class="btn green darken-2">Update Project</a>
          </div>
          <div class="right" style="margin-right: 10px;">
            <a href="{% url 'portfolio_project_delete' slug=project.slug %}" class="btn red darken-2">Delete Project</a>
          </div>
        </div>
      {% endif %}
      

    </div>
  </div>
</div>