{% extends "pages/base/template.html" %}

{% block content %}

  <div class="newcontainer">

    <div class="section row">

      <div class="col xl8 offset-xl2 s12">
        <div class="card-panel" style="padding: 25px 80px 25px 80px;">
          <div class="row">

          {% if object_list.count > 0 %}
            
            <h5>List of images:</h5>
          
              {% for image in object_list %}
              <div class="col m6">
                <div class="card">
                  <div class="card-image">
                    <img src="{{image.image.url}}" width="350">
                  </div>
                  <div class="card-action">
                    <a href="{% url 'portfolio_project_images_delete' slug=project_slug pk=image.pk %}" class="purple-text">Remove image</a>
                  </div>
                </div>
              </div>
              {% endfor %}

          {% else %}
            
            <h5>You have not added any images yet!</h5>

          {% endif %}

            <center>
              <a href="{% url 'portfolio_project_view' slug=project_slug %}" class="btn purple darken-2" style="margin-top: 15px;">Go Back</a>
              <a href="{% url 'portfolio_project_images_add' slug=project_slug %}" class="btn purple" style="margin-top: 15px;">Add Image</a>
            </center>

          </div>
            
        </div>

      </div>
        
    </div>

  </div>



{% endblock content %}