{% extends "pages/base/template.html" %}

{% load static %}

{% block head %}
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{% static "shop/css/materialize-social.css" %}"  media="screen,projection" />
  <style>
    .project_title {
      background:rgba(0,0,0,0.5);
      padding: 0px 7px 5px 7px;
    }
    .card {
        position: relative;
        margin: .5rem 0 1rem 0;
        max-height: 540px;
        min-height: 456px;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
    }
    .card .card-content {
        padding: 24px;
        border-radius: 0 0 2px 2px;
        min-height: 113px;
    }
  </style>
{% endblock head %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">

  {% if perms.portfolio.manage_projects %}
    <div class="row">
      <a href="{% url 'portfolio_project_add' %}" class="btn purple" style="margin-left: 10px;">Add new Project</a>
    </div>
    
    <div class="divider"></div>
  {% endif %}
  
    <div class="row">
      {% for project in object_list %}
        {% include "portfolio/project_list_item.html" with project=project %}
      {% endfor %}
    </div>
    
  </div>

  <div class="section"></div>

{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>
{% endblock scripts %}