{% extends "pages/base/template.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">

    <div class="section row">

      <div class="col xl8 offset-xl2 s12">
        <div class="card-panel" style="padding: 25px 80px 25px 80px;">

          <form enctype="multipart/form-data" method="post">

            {% csrf_token %}
            <div class="section"></div>

            {{ form.non_field_errors }}

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.title }}
                <label for='{{ form.title.id_for_label }}'>{{ form.title.label }}</label>
              </div>
              {% for error in form.title.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.author }}
                <label for='{{ form.author.id_for_label }}'>{{ form.author.label }}</label>
              </div>
              {% for error in form.author.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.short_description|add_class:"materialize-textarea" }}
                <label for='{{ form.short_description.id_for_label }}'>{{ form.short_description.label }}</label>
              </div>
              {% for error in form.short_description.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.description|add_class:"materialize-textarea" }}
                <label for='{{ form.description.id_for_label }}'>{{ form.description.label }}</label>
              </div>
              {% for error in form.description.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.planet_minecraft }}
                <label for='{{ form.planet_minecraft.id_for_label }}'>{{ form.planet_minecraft.label }}</label>
              </div>
              {% for error in form.planet_minecraft.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.sketchfab }}
                <label for='{{ form.sketchfab.id_for_label }}'>{{ form.sketchfab.label }}</label>
              </div>
              {% for error in form.sketchfab.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='file-field input-field col s12'>
                <div class="btn purple">
                  <span>Select Thumbnail</span>
                  <input type="file" name="thumbnail" id="id_thumbnail">
                </div>
                <div class="file-path-wrapper">
                  <input type="text" class="file-path" placeholder="{% if form.thumbnail.value %}{{ form.thumbnail.value }}{% else %}Choose a file{% endif %}">
                </div>
              </div>
              
              {% for error in form.thumbnail.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <br />
            <center>
              <div class='row'>
                <a href="/portfolio/" name='btn_login' class='col s3 btn btn-large waves-effect grey darken-1'>Cancel</a>
                <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect purple darken-1'>Submit</button>
              </div>
            </center>
          </form>

        </div>

      </div>
        
    </div>

  </div>



{% endblock content %}