<div class="card" style="margin-top: 0px;">
    <div class="card-content black-text">
      
			<div class="row" style="margin: 0px;">
				<div class="col s6">
					<div class="left">
							<span>Author:</span>
					</div>
				</div>
				<div class="col s6">
					<div class="right">
							<span>{{ project.author }}</span>
					</div>
				</div>
			</div>
            
    </div>
</div>
<div class="card">
    <div class="card-content black-text">
        <span class="card-title">Share this map:</span>

       	<a class="waves-effect waves-light btn-floating btn-large social facebook" style="margin-right: 5px;">
				<i class="fab fa-facebook-f"></i></a>

				<a class="waves-effect waves-light btn-floating btn-large social twitter" style="margin-right: 5px;">
				<i class="fab fa-twitter"></i></a>

				<a class="waves-effect waves-light btn-floating btn-large social linkedin" style="margin-right: 5px;">
				<i class="fab fa-linkedin-in"></i></a>

				<a class="waves-effect waves-light btn-floating btn-large social google" style="margin-right: 5px;">
				<i class="fab fa-google-plus-g"></i></a>

				<a class="waves-effect waves-light btn-floating btn-large social pinterest">
				<i class="fab fa-pinterest-p"></i></a>

		</div>
</div>

{% if perms.portfolio.manage_projects %}
    <div class="card-panel">
        <a href="{% url 'portfolio_project_update' slug=project.slug %}" class="btn green darken-2" style="margin-bottom: 5px;">Update Info</a>
        <a href="{% url 'portfolio_project_images_view' slug=project.slug %}" class="btn purple darken-1" style="margin-bottom: 5px;">Manage Images</a>
        <a href="{% url 'portfolio_project_delete' slug=project.slug %}" class="btn red darken-4" style="margin-bottom: 5px;">Delete Project</a>
    </div>
{% endif %}

