{% extends "pages/base/template.html" %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">

    <div class="section row">

      <div class="col xl8 offset-xl2 s12">
        <div class="card-panel" style="padding: 25px 80px 25px 80px;">

          <form enctype="multipart/form-data" method="post">
          
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class='row'>
              <div class='file-field input-field col s12'>
                <div class="btn purple">
                  <span>Select Image</span>
                  <input type="file" name="image" required id="id_image">
                </div>
                <div class="file-path-wrapper">
                  <input type="text" class="file-path" placeholder="{% if form.image.value %}{{ form.image.value }}{% else %}Choose a file{% endif %}">
                </div>
              </div>
              
              {% for error in form.image.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <a href="{% url 'portfolio_project_images_view' slug=project_slug %}" name='btn_login' class='col s3 btn btn-large waves-effect grey darken-1'>Cancel</a>
              <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect purple darken-1'>Submit Image</button>
            </div>

          </form>

        </div>
      </div>
        
    </div>

  </div>

{% endblock content %}