{% extends "pages/base/template.html" %}

{% block head_title %}
  Confirm E-mail Address
{% endblock head_title %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 40px;">

          {% if confirmation %}

            <p>{% with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ confirmation.email_address.user }}.{% endwith %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn purple" type="submit">Confirm</button>
            </form>

          {% else %}

            {% url 'account_email' as email_url %}

            <p>
              This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
            </p>

          {% endif %}
  

        </div>
      </div>
    </div>
  </div>

{% endblock content %}