{% extends "profiles/account.html" %}

{% block account_content %}

<div class="section" style="padding: .30rem .75rem 1rem 0rem;">
  <span>
    <a href="{% url 'account_profile' %}" class="grey-text text-darken-2">Account</a> > E-mail Addresses
  </span>
</div>

<div class="card-panel">
  
  <h5>E-mail Addresses</h5>
  {% if user.emailaddress_set.all %}
  <p>The following e-mail addresses are associated with your account:</p>

  <form action="{% url 'account_email' %}" class="email_list" method="post">
  {% csrf_token %}
  <fieldset class="blockLabels">

  <div style="padding: 10px 0px 10px 0px;">
    {% for emailaddress in user.emailaddress_set.all %}
      <div class="ctrlHolder" style="padding: 5px 0px 5px 0px;">
        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

          <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

          <span>{{ emailaddress.email }}</span>

          {% if emailaddress.verified %}
          <span class="green-text text-darken-2">Verified</span>
          {% else %}
          <span class="red-text text-darken-1">Unverified</span>
          {% endif %}

          {% if emailaddress.primary %}<span class="blue-text text-darken-1">Primary</span>{% endif %}
        </label>
      </div>
    {% endfor %}
  </div>

  <div class="buttonHolder">
        <button class="btn purple" type="submit" name="action_primary" >Make Primary</button>
        <button class="btn purple darken-3" type="submit" name="action_send" >Re-send Verification</button>
        <button class="btn red darken-4" type="submit" name="action_remove" >Remove</button>
  </div>

  </fieldset>
  </form>

  {% else %}
  <p><strong>Warning:</strong> You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.</p>

  {% endif %}

  <div style="padding: 0px 20px 0px 20px;">

    <h5>Add E-mail Address</h5>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn purple" name="action_add" type="submit">Add E-mail</button>
    </form>

  </div>

</div>


  

{% endblock %}


{% block scripts %}
<script type="text/javascript">
  (function() {
    var message = "Do you really want to remove the selected e-mail address?";
    var actions = document.getElementsByName('action_remove');
    if (actions.length) {
      actions[0].addEventListener("click", function(e) {
        if (! confirm(message)) {
          e.preventDefault();
        }
      });
    }
  })();
</script>
{% endblock %}