{% extends "profiles/account.html" %}

{% block account_content %}

<div class="section" style="padding: .30rem .75rem 1rem 0rem;">
  <span>
    <a href="{% url 'account_profile' %}" class="grey-text text-darken-2">Account</a> > Sign out
  </span>
</div>

  <div class="row">

    <div class="col s12">
      <div class="card-panel" style="padding: 25px 80px 25px 80px;">
      
      <center>
        <h5>Are you sure you want to sign out?</h5>
        <br />

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn purple" type="submit">Sign Out</button>
        </form>

      </center>
      
    
      </div>

    </div>
      
  </div>

{% endblock account_content %}