{% extends "pages/base/template.html" %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
            <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
          
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
            {% else %}
                {% if form %}
                    <form style="padding: 0px 25px 0px 25px;" method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn purple" type="submit" name="action" value="change password"/>
                    </form>
                {% else %}
                    <p>Your password is now changed.</p>
                {% endif %}
            {% endif %}


        </div>
      </div>
    </div>
  </div>

{% endblock content %}
