{% extends "pages/base/template.html" %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
          <h1>Password Reset</h1>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <p>
            We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
