{% extends "pages/base/template.html" %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
          <h1>Password Reset</h1>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <p>
            Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
          </p>
          <form style="padding: 0px 20px 15px 20px;" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn purple" type="submit" value="Reset My Password" />
          </form>
          <p>
            Please contact us if you have any trouble resetting your password.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
