{% extends "profiles/account.html" %}

{% load widget_tweaks %}

{% block account_content %}

<div class="section" style="padding: .30rem .75rem 1rem 0rem;">
  <span>
    <a href="{% url 'account_profile' %}" class="grey-text text-darken-2">Account</a> > Change password
  </span>
</div>

<div class="card-panel col s12" style="display: inline-block; padding: 10px 60px 15px 60px;">

  <form class="col s12" method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
		<div class="section"></div>

    {{ form.non_field_errors }}

    <div class='row'>
      <div class='input-field col s12'>
        {{ form.oldpassword|add_class:"validate" }}
        <label for='{{ form.oldpassword.id_for_label }}'>{{ form.oldpassword.label }}</label>
        {% for error in form.oldpassword.errors %}
          <span class="left red-text" >* {{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        {{ form.password1|add_class:"validate" }}
        <label for='{{ form.password1.id_for_label }}'>{{ form.password1.label }}</label>
        {% for error in form.password1.errors %}
          <span class="left red-text" >* {{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        {{ form.password2|add_class:"validate" }}
        <label for='{{ form.password2.id_for_label }}'>{{ form.password2.label }}</label>
        {% for error in form.password2.errors %}
          <span class="left red-text" >* {{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <br />
   
    <div class='row'>
      <a href="{% url 'account_profile' %}" class='col s3 btn btn-large waves-effect grey darken-1'>Cancel</a>
      <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect purple darken-1'>Change Password</button>
    </div>
    
  </form>

</div>

{% endblock account_content %}