{% extends "pages/base/template.html" %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
          <h1>Set Password</h1>
          <p>
            Set a new password for your account
          </p>
          <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn purple" type="submit" name="action" value="Set Password"/>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
