{% extends "pages/base/template.html" %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
          <h1>Sign Up Closed</h1>
          <p>
            We are sorry, but the sign up is currently closed.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
