{% extends "pages/base/template.html" %}

{% block head %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}

{% block content %}

<div class="section"></div>


<center>
  <h5 class="purple-text text-darken-2">Create a new account</h5>
  <div class="section"></div>

{% load widget_tweaks %}

  <div class="row container">
    <div class="z-depth-1 white lighten-4 col xl8 offset-xl2 s12" style="display: inline-block; padding: 10px 60px 15px 60px; border: 1px solid #EEE;">

      <form class="col s12" id="signup_form" method="post" action="{% url 'account_signup' %}">
      	{% csrf_token %}
        <div class="section"></div>

				{{ form.non_field_errors }}

				<div class='row'>
          <div class='input-field col s12'>
          	{{ form.username|add_class:"validate" }}
            <label for='{{ form.username.id_for_label }}'>{{ form.username.label }}</label>
            {% for error in form.username.errors %}
            	<span class="left red-text" >* {{ error }}</span>
            {% endfor %}
          </div>
        </div>

				<div class='row'>
          <div class='input-field col s12'>
          	{{ form.email|add_class:"validate" }}
            <label for='{{ form.email.id_for_label }}'>{{ form.email.label }}</label>
            {% for error in form.email.errors %}
            	<span class="left red-text" >* {{ error }}</span>
            {% endfor %}
          </div>
        </div>

				<div class='row'>
          <div class='input-field col s12'>
          	{{ form.password1|add_class:"validate" }}
            <label for='{{ form.password1.id_for_label }}'>{{ form.password1.label }}</label>
          	{% for error in form.password1.errors %}
          	<span class="left red-text" >* {{ error }} </span>
          	{% endfor %}
          </div>
        </div>

				<div class='row' style="margin-bottom: 5px;">
          <div class='input-field col s12'>
          	{{ form.password2|add_class:"validate" }}
            <label for='{{ form.password2.id_for_label }}'>{{ form.password2.label }}</label>
            {% for error in form.password2.errors %}
            	<span class="left red-text" >* {{ error }}</span>
            {% endfor %}
          </div>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
     
        <center>
          <div class='row'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect purple darken-1'>Sign Up</button>
          </div>
        </center>
      </form>
    </div>
  </div>
    

  <a href="{% url 'account_login' %}" class="purple-text">Already registered? Click to log in</a>
</center>

<div class="section"></div>
<div class="section"></div>

{% endblock content %}