{% extends "pages/base/template.html" %}

{% block content %}
  
  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">
          <h1>Verify Your E-mail Address</h1>
          <p>
            We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}