{% extends "pages/base/template.html" %}

{% block content %}

  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card-panel" style="text-align: center; padding-bottom: 50px;">

          <h1>Verify Your E-mail Address</h1>

          {% url 'account_email' as email_url %}

          <p>This part of the site requires us to verify that
          you are who you claim to be. For this purpose, we require that you
          verify ownership of your e-mail address.</p>

          <p>We have sent an e-mail to you for
          verification. Please click on the link inside this e-mail. Please
          contact us if you do not receive it within a few minutes.</p>

          <p><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.</p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

