{% extends "pages/base/template.html" %}

{% block head %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}

{% load widget_tweaks %}

{% block content %}

	<div class="row newcontainer">
		
		<center><h5 class="purple-text text-darken-2" style="padding-left: 15px; padding-bottom:5px;">Apply to join the team</h5></center>
		
		<div class="col s8 offset-s2">
			<div class="z-depth-1 white lighten-4 col s12" style="padding: 10px 60px 15px 60px;">

		    <form class="col s12" method="post">
		      {% csrf_token %}
            <div class="section"></div>
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="red-text">* {{ error }}</p>
              {% endfor %}
            {% endif %}

            <div class="row">
              <div class="input-field col s12">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">What is your e-mail address?</label>
              </div>
              {% for error in form.email.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{ form.age }}
                <label for="{{ form.age.id_for_label }}">How old are you?</label>
              </div>
              {% for error in form.age.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{ form.minecraft_username }}
                <label for="{{ form.minecraft_username.id_for_label }}">What is your Minecraft name?</label>
              </div>
              {% for error in form.minecraft_username.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                {{ form.experience_years }}
                <label for="{{ form.experience_years.id_for_label }}">How many years have you been building in Minecraft?</label>
              </div>
              {% for error in form.experience_years.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
                
            <div class="row">
              <div class="input-field col s12">
                {{ form.country }}
                <label for="{{ form.country.id_for_label }}">What country do you live in?</label>
              </div>
              {% for error in form.country.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
                
            <div class="row">
              <div class="input-field col s12">
                {{ form.available_hours }}
                <label for="{{ form.available_hours.id_for_label }}">How many hours per week can you be online?</label>
              </div>
              {% for error in form.available_hours.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
            
            <div class='row'>
              <div class='input-field col s12'>
                {{ form.other_build_teams|add_class:"materialize-textarea" }}
                <label for='{{ form.other_build_teams.id_for_label }}'>Have you ever been in any other build teams? If yes, which ones? And are you still in those teams?</label>
              </div>
              {% for error in form.other_build_teams.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.comfortable_build_styles|add_class:"materialize-textarea" }}
                <label for='{{ form.comfortable_build_styles.id_for_label }}'>What are all the build styles you are comfortable building?</label>
              </div>
              {% for error in form.comfortable_build_styles.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.uncomfortable_build_styles|add_class:"materialize-textarea" }}
                <label for='{{ form.uncomfortable_build_styles.id_for_label }}'>What are all the build styles you are uncomfortable building?</label>
              </div>
              {% for error in form.uncomfortable_build_styles.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div> 

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.build_plugins_experience|add_class:"materialize-textarea" }}
                <label for='{{ form.build_plugins_experience.id_for_label }}'>Do you know how to use Worldedit, VoxelSniper, GoBrush, GoPaint, WorldPainter, WorldMachine?</label>
              </div>
              {% for error in form.build_plugins_experience.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div> 
            
            <div class='row'>
              <div class='input-field col s12'>
                {{ form.why_join_team|add_class:"materialize-textarea" }}
                <label for='{{ form.why_join_team.id_for_label }}'>Why do you want to join Team Visionary?</label>
              </div>
              {% for error in form.why_join_team.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div> 
            
            <div class="row">
              <div class="input-field col s12">
                {{ form.where_found_team }}
                <label for="{{ form.where_found_team.id_for_label }}">Where did you hear about Team Visionary?</label>
              </div>
              {% for error in form.where_found_team.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
            
            <div class='row'>
              <div class='input-field col s12'>
                {{ form.special_skills|add_class:"materialize-textarea" }}
                <label for='{{ form.special_skills.id_for_label }}'>Do you have any other special skills such as; video editing, graphics, developing, etc?</label>
              </div>
              {% for error in form.special_skills.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{ form.skype_discord }}
                <label for="{{ form.skype_discord.id_for_label }}">What is your Skype and/or Discord information?</label>
              </div>
              {% for error in form.skype_discord.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
            
            <div class='row'>
              <div class='input-field col s12'>
                {{ form.portfolio_work|add_class:"materialize-textarea" }}
                <label for='{{ form.portfolio_work.id_for_label }}'>Please provide a portfolio of your prior work.</label>
              </div>
              {% for error in form.portfolio_work.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <center style="margin-bottom: 15px;">
              <div class="g-recaptcha" data-sitekey="6Le4UXIUAAAAACi7M0mbBBV1WvUuk6mXpWRa__51"></div>
            </center>
             
            <div class='row'>
              <button type="submit" class='col s12 btn btn-large waves-effect purple darken-1'>Send Application</button>
            </div>

		    </form>

	  	</div>
		</div>

	</div>

	<div class="section"></div>

{% endblock content %}