{% extends "pages/base/template.html" %}

{% block head %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}

{% load widget_tweaks %}

{% block content %}

	<style>
		.title_header{
			font-size: 20px; 
			margin-bottom: 0px; 
			font-weight: 500;
		}
	</style>
	
	<div class="section"></div>

	<div class="row container">
		
		<h5 class="purple-text text-darken-2" style="padding-left: 15px; padding-bottom:5px;">Send us a message</h5>
		
		<div class="col xl6 s12">	
			<div class="z-depth-1 white lighten-4 col s12" style="padding: 10px 60px 15px 60px;">

		    <form class="col s12" method="post">
		      {% csrf_token %}
            <div class="section"></div>
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="red-text">* {{ error }}</p>
              {% endfor %}
            {% endif %}

            <div class="row">
              <div class="input-field col s12">
                {{ form.name }}
                <label for="{{ form.name.id_for_label }}">Name</label>
              </div>
              {% for error in form.name.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Email</label>
              </div>
              {% for error in form.email.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.message|add_class:"materialize-textarea" }}
                <label for='{{ form.message.id_for_label }}'>{{ form.message.label }}</label>
              </div>
              {% for error in form.message.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>
     
            <center style="margin-bottom: 15px;">
              <div class="g-recaptcha" data-sitekey="6Le4UXIUAAAAACi7M0mbBBV1WvUuk6mXpWRa__51"></div>
            </center>
             
            <div class='row'>
              <button type="submit" name='btn_login' class='col s12 btn btn-large waves-effect purple darken-1'>Send Message</button>
            </div>

		      </form>

	  	</div>
		</div>
		
		<div class="col xl6 s12">
			<div class="z-depth-1 white lighten-4 col s12" style="padding: 10px 60px 15px 60px;">
				<div class="section"></div>

                <p class="title_header"><i class="fas fa-check-square purple-text"></i> CREATE</p>
				<p style="margin-bottom: 20px;">Creating beautiful and fun builds for the Minecraft community isn’t only our job, it’s our passion.</p>
                
				<p class="title_header"><i class="fas fa-pencil-alt purple-text"></i> DESIGN</p>
				<p>TeamVisionary designs all work from the ground up to best suit our client’s needs.</p>

				<p class="title_header"><i class="fas fa-star purple-text"></i> INNOVATE</p>
				<p>We don’t accept the status quo. We innovate the industry with our skills and experience.</p>

				<div class="divider"></div>

				<h5 class="purple-text text-darken-2">Contact Info</h5>

				<p>Discord: <b>gizmo#2935</b></p>
				<p>E-mail: <b>business@teamvisionary.net</b></p>
				
			</div>
		</div>

	</div>

	<div class="section"></div>

{% endblock content %}