{% extends "pages/base/template.html" %}

{% load static %}

{% block body_properties %}
  class="purple darken-1"
{% endblock body_properties %}

{% block content %}

<style>
.portfolio-image{
    max-width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
}
</style>

<section>
  <img src="{% static "pages/team_visionary.png" %}" class="responsive-img" width="100%">
</section>

  <br>
<section class="center-align">
  <div class="container">

    <h1 class="white-text" style="font-weight: 500;">
      <i class="fas fa-quote-right" style="font-size: 20px;"></i> Testimonials
    </h1>
    <div id="testimonials" class="row">

      <div id="tm1" class="col l3 m6">
        <img src="{% static "pages/testimonials/mccentral.png" %}" class="circle" height="100px">
        <div class="card-panel purple darken-3 white-text">
          <p>
            "TeamVisionary is our build team of preference, delivering all builds in a timely and quality manner.
            We are yet to be disappointed with any builds they have built for our networks."
          </p>

          <div style="margin-bottom: 40px;">
            <div class="left">
              <b>Alex</b>
            </div>
            <div class="right">
              MCCENTRAL
            </div>
          </div>
        </div>
      </div>


      <div id="tm2" class="col l3 m6">
        <img src="{% static "pages/testimonials/opcraft.png" %}" class="circle" height="100px">
        <div class="card-panel purple darken-3 white-text">
          <p>
            "TeamVisionary always meets our deadlines and never fails to surprise us. 
            If there's anyone I run to when I need a build done right it's them,
            they're a pleasure to work with and are truly great."
          </p>

          <div style="margin-bottom: 40px;">
            <div class="left">
              <b>Nick</b>
            </div>
            <div class="right">
              OPCRAFT
            </div>
          </div>
        </div>
      </div>


      <div id="tm3" class="col l3 m6" style="max-width: 240">
        <img src="{% static "pages/testimonials/noxiouspvp.png" %}" class="circle" height="100px">
        <div class="card-panel purple darken-3 white-text">
          <p>
            "TeamVisionary delivered amazing maps in a very short turnaround whithout compromising on quality.
            They've become my go-to build team that I will use for any of my future builds!"
          </p>

          <div style="margin-bottom: 40px;">
            <div class="left">
              <b>Darryn</b>
            </div>
            <div class="right">
              NOXIOUSPVP
            </div>
          </div>
        </div>
      </div>


      <div id="tm4" class="col l3 m6">
        <img src="{% static "pages/testimonials/thebridgemc.png" %}" class="circle" height="100px">
        <div class="card-panel purple darken-3 white-text">
          <p>
            "TeamVisionary has shown an exemplary performance in their projects and delivered exactly what I ordered.
            They are fast, experienced, and overall understanding in all aspects!"
          </p>

          <div style="margin-bottom: 40px;">
            <div class="left">
              <b>Asursion</b>
            </div>
            <div class="right">
              THEBRIDGE
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<br>

<section class="purple darken-2 center-align">
  <br>
  <div class="container">
    <h1 class="white-text" style="font-weight: 500;"><i class="far fa-images"></i> Portfolio</h1>
    <br>
    <div class="row">
      
      {% for project in object_list %}
        <div class="col l4 s6" style="margin-bottom: 15px;">
          <a href="{% url 'portfolio_project_view' slug=project.slug %}">
            <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}" height="225" width="400" class="responsive-img z-depth-2">
          </a>
        </div>
      {% endfor %}

      <a href="{% url 'portfolio' %}" class="btn-large purple" style="font-weight: 500;">View the complete portfolio</a>

    </div>

  <br>
  </div>
  
</section>


{% endblock content %}

{% block scripts %}

  <script>
    
    // var max_height = 0;

    // $('#testimonials').children().each(function() {
    //   var thisHeight = $(this).children('.card-panel').height();
    //   console.log(thisHeight);
    //   if (thisHeight > max_height)
    //     max_height = thisHeight;
    // });

    // console.log(max_height);

    // $('#testimonials').children().each(function () {
    //   $(this).children('.card-panel').height(max_height);
    // });

  </script>
  
{% endblock scripts %}

{% block footer %}
  <footer class="page-footer purple darken-3">
    {% include "pages/base/footer.html" with homepage=True %}
  </footer>
{% endblock footer %}

