/* CLIENT-SPECIFIC STYLES */
body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
img { -ms-interpolation-mode: bicubic; }

/* RESET STYLES */
img { border: 0; outline: none; text-decoration: none; }
table { border-collapse: collapse !important; }
body { margin: 0 !important; padding: 0 !important; width: 100% !important; }

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] { margin: 0 !important; }

/* MEDIA QUERIES */
@media all and (max-width:639px){
    .wrapper{ width:320px!important; padding: 0 !important; }
    .container{ width:300px!important;  padding: 0 !important; }
    .mobile{ width:300px!important; display:block!important; padding: 0 !important; }
    .img{ width:100% !important; height:auto !important; }
    *[class="mobileOff"] { width: 0px !important; display: none !important; }
    *[class*="mobileOn"] { display: block !important; max-height:none !important; }
}


html{
    font-family: Arial, cursive, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Arial Rounded MT Bold", sans-serif;
}

h2{
    font-size: 18px;
    text-align: center;
}

h1{
    font-size: 20px;
    text-transform: uppercase;
}

.button{
    border: none;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 100px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-blue{
    background: #1e3c72;
    color: white;
}

.footer td a{
    font-size: 10px;
}

.background-title{
    z-index: 0;
    height: 150px;
    width: 700px;

    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.info-area{
    background: #ffffff !important;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
}

.card-title img{
    width: 200px;
    height: 90px;
    z-index: 20;
    padding-top: 35px;
}