<style>
  .footer_links_header {
    font-family: 'Boogaloo', cursive;
    text-transform: uppercase;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col l4">
      <h5 class="footer_links_header">Teamvisionary</h5>
      <div class="row">
        <div class="col s6">
          <ul style="margin-top: 5px;">
            <li><a class="grey-text text-lighten-3" href="#!">Portfolio</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Become a member</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Request a commission</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Partners</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          </ul>
        </div>
        <div class="col s6">
          <ul style="margin-top: 5px;">
            <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Visionary Blog</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Schematic Store</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col l2">
      <h5 class="footer_links_header">Legal</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Terms of Service</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Official Partner</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Store Policy</a></li>
      </ul>
    </div>
    <div class="col l2">
      <h5 class="footer_links_header">Extra services</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Gizmoservers</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Atheris Studios</a></li>
      </ul>
    </div>
    <div class="col l3 offset-l1" style="text-align: center;">
      <h5 class="footer_links_header">Let's connect</h5>
      <div class="row" style="margin-top: 20px;">
        <div class="col s4">
          <a href="https://discord.gg/Rvuj5nQ" target="_blank" class="white-text tooltipped" data-position="top" data-tooltip="Discord">
            <i class="fab fa-discord fa-2x"></i>
          </a>
        </div>
        <div class="col s4">
          <a href="https://twitter.com/teamvisionarybt" target="_blank" class="white-text tooltipped" data-position="top" data-tooltip="Twitter">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </div>
        <div class="col s4">
          <a href="https://www.youtube.com/channel/UCQKcAIeUs8GkfRof7MhYFzA" target="_blank" class="white-text tooltipped" data-position="top" data-tooltip="Youtube">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <a href="https://www.planetminecraft.com/member/teamvisionarybt/" target="_blank" class="white-text tooltipped" data-position="bottom" data-tooltip="Planet Minecraft">
            <i class="fas fa-cube fa-2x"></i>
          </a>
        </div>
        <div class="col s4">
          <a href="https://www.instagram.com/teamvisionarybt/" target="_blank" class="white-text tooltipped" data-position="bottom" data-tooltip="Instagram">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </div>
        <div class="col s4">
          <a href="https://marketplace.minecraft.net/en-us/creator?name=team%20visionary" target="_blank" class="white-text tooltipped" data-position="bottom" data-tooltip="Microsoft Marketplace">
            <i class="fab fa-microsoft fa-2x"></i>
          </a>
        </div>
      </div>
      <a href="https://minecraft.net/en-us/article/clockwork-krakens-and-steampunk-dragons" target="_blank" class="btn yellow darken-2 black-text" style="font-weight: 500;">FEATURED ON MINECRAFT.NET</a>
    </div>



    
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    
    <div class="left">
      Copyright © Teamvisionary® - Teamvisionary is a registred trademark of Gizmoservers LLC
    </div>

    <div class="right">
      {% if user.is_authenticated %}
        {% if user.has_marketplace_permission %}
          <a style="margin-right: 15px;" class="white-text" href="{% url 'marketplace_dashboard' %}">Marketplace</a>
        {% endif %}
        <a style="margin-right: 15px;" class="white-text" href="{% url 'account_logout' %}">Sign Out</a>
      {% else %}
        <a style="margin-right: 15px;" class="white-text" href="{% url 'account_login' %}">Login</a>
        <a style="margin-right: 15px;" class="white-text" href="{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
      <a href="#top" class="white-text"><i class="fas fa-chevron-up"></i></a>
    </div>
  
  </div>
</div>