<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h1 class="white-text" {% if homepage %} style="font-weight: 600;" {% endif %}>Create, design, innovate.</h1>
      <p class="grey-text text-lighten-4" {% if homepage %} style="font-size: 17px;" {% endif %}>These 3 words represent what TeamVisionary stands for. 
        {% if homepage %}
          <span id="read_more" class="light-blue-text text-lighten-3" style="cursor: pointer;">Read more...</span>
          <span id="more" style="display: none;">
        {% else %}
          <span>
        {% endif %}
        From initial contact, to project completion, our staff will work diligently, efficiently, and quickly to complete your project to your exact specifications. When working with TeamVisionary, whether large or just starting out, you will feel at ease knowing you are in the hands of the most experienced and thorough team in the industry. <a href="{% url 'contact' %}" class="light-blue-text text-lighten-4">Hire us</a> today, so we can make your dreams into a reality!</span></p>
    </div>
    <div class="col l4 offset-l2 s12">
      <a href="https://minecraft.net/en-us/article/clockwork-krakens-and-steampunk-dragons" target="_blank" class="btn yellow darken-2 black-text" style="font-weight: 500;">FEATURED ON MINECRAFT.NET</a>
      <h1 class="white-text">Connect</h1>
      <ul>
        <li><a class="white-text" href="https://discord.gg/EcMWDgX" target="_blank"><i class="fab fa-discord"></i> Discord</a></li>
        <li><a class="white-text" href="https://twitter.com/teamvisionarybt" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a class="white-text" href="https://www.youtube.com/channel/UCQKcAIeUs8GkfRof7MhYFzA" target="_blank"><i class="fab fa-youtube"></i> Youtube</a></li>
        <li><a class="white-text" href="https://www.planetminecraft.com/member/teamvisionarybt/" target="_blank"><i class="fas fa-cube"></i> Planet Minecraft</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    
    <div class="left">
      Copyright © Teamvisionary® - Teamvisionary is a registred trademark of Gizmoservers LLC
    </div>

    <div class="right">
      {% if user.is_authenticated %}
        {% if user.has_marketplace_permission %}
          <a style="margin-right: 15px;" class="white-text" href="{% url 'marketplace_dashboard' %}">Marketplace</a>
        {% endif %}
        <a style="margin-right: 15px;" class="white-text" href="{% url 'account_logout' %}">Sign Out</a>
      {% else %}
        <a style="margin-right: 15px;" class="white-text" href="{% url 'account_login' %}">Login</a>
        <a style="margin-right: 15px;" class="white-text" href="{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
      <a href="#top" class="white-text"><i class="fas fa-chevron-up"></i></a>
    </div>
  
  </div>
</div>