{% extends "pages/base/navbar_common.html" %}

{% block buttons %}
  <!--<li><a href="/accounts/login/"><i class="material-icons left">person</i>Sign In</a></li>
  <li><a href="/accounts/signup/"><i class="material-icons left">create</i>Sign Up</a></li>-->
  <li><a href="{% url 'apply' %}"><i class="material-icons left">event_note</i>Apply</a></li>
{% endblock buttons %}