<div class="navbar-fixed">

  <nav class="purple darken-1" role="navigation">
  	<div class="nav-wrapper container">

        <div class="hide-on-med-and-down">
            <a href="{% url 'index' %}" class="brand-logo center"><div style="font-size: 3rem;font-family: 'Boogaloo', cursive; text-transform: uppercase;">Team Visionary</div></a>
        </div>
           
        <div class="show-on-medium hide-on-small-only hide-on-large-only">
            <a href="{% url 'index' %}" class="brand-logo center"><div style="font-size: 2.5rem;font-family: 'Boogaloo', cursive; text-transform: uppercase;">Team Visionary</div></a>
        </div>
           
        <div class="show-on-small hide-on-med-and-up">
            <a href="{% url 'index' %}" class="brand-logo center"><div style="font-size: 1.5rem;font-family: 'Boogaloo', cursive; text-transform: uppercase;">Team Visionary</div></a>
        </div>
           
  		<ul class="left hide-on-med-and-down">
        <li>
          <a href="{% url 'portfolio' %}">
            <i class="material-icons left">image</i>
            Portfolio
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="material-icons left">people</i>
            Team
          </a>
        </li>-->
        <li>
          <a href="{% url 'contact' %}">
            <i class="material-icons left">email</i>
            Contact
          </a>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        {% block buttons %} {% endblock buttons %}
      </ul>

  	  <a href="#" data-target="nav-mobile" class="sidenav-trigger left"><i class="material-icons">menu</i></a>

  	</div>
  </nav>
  
</div>

<ul id="nav-mobile" class="sidenav">
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
</ul>