{% extends "pages/base/navbar_common.html" %}

{% block buttons %}

  {% if user.has_marketplace_permission %}
    <li>
      <a href="{% url 'marketplace_dashboard' %}">
        <i class="material-icons left">business_center</i>
        Marketplace
      </a>
    </li>
  {% endif %}

{% endblock buttons %}