<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />

    <!--Import materialize.css-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "pages/base/css/materialize.min.css" %}"  media="screen,projection" />
    
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="{% static "pages/favico.ico" %}" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    
    <link type="text/css" rel="stylesheet" href="{% static "pages/base/css/base.css" %}"  media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TeamVisionary - {% if page_info.title %} {{ page_info.title }} {% else %} Minecraft Buildteam - Create, design, innovate {% endif %}</title>
    <meta name="description" content="
            {% if page_info.description %}
            page_info.description
            {% else %}
            TeamVisionary is one of the best build teams on the online market.
            We are delivering all builds in a timely and quality manner.
            Because of our official Minecraft partnership, we can provide higher quality.
            Check out our portfolio or take a look at our marketplace products.
            {% endif %}">
    <meta name="keywords" content="Minecraft buildteam,
            Minecraft build team,
            Professional Minecraft buildteam,
            Professional Minecraft build team,
            High quality Minecraft buildteam,
            High quality Minecraft build team,
            Minecraft Marketplace,
            Minecraft map makers,
            Buy Minecraft builds,
            Buy Minecraft maps,
            Buy Minecraft spawn,
            Buy Minecraft Hub,
            Minecraft Texture pack,
            Minecraft Skins,
            Minecraft Adventure Map,
            Minecraft Spawn,
            Minecraft PE buildteam,
            Minecraft PE build team,
            MCPE Buildteam,
            MCPE Build team">
    <meta name="revisit-after" content="5 days">
    <meta name="language" content="EN-US">
    <meta name="author" content="TeamVisionary">
    <meta name="theme-color" content="#8E24AA">
     
    <meta property="og:url" content="https://teamvisionary.net{{ request.get_full_path }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TeamVisionary - {% if page_info.title %} {{ page_info.title }} {% else %} Minecraft Buildteam - Create, design, innovate {% endif %}" />
    <meta property="og:description" content="{% if page_info.description %}
            {{ page_info.description }}
            {% else %}
            TeamVisionary is one of the best build teams on the online market.
            We are delivering all builds in a timely and quality manner.
            Because of our official Minecraft partnership, we can provide higher quality.
            Check out our portfolio or take a look at our marketplace products.
            {% endif %}" />
    <meta property="og:image" content="{% if page_info.image %} {{ page_info.image }} {% else %} https://teamvisionary.net/static/pages/logo.png {% endif %}" />
    <meta property="og:locale" content="en_US">
     
    <meta property="twitter:site" content="@publisher_handle">
    <meta property="twitter:title" content="TeamVisionary - {% if page_info.title %} {{ page_info.title }} {% else %} Minecraft Buildteam - Create, design, innovate {% endif %}" />
    <meta property="twitter:description" content="{% if page_info.description %}
            {{ page_info.description }}
            {% else %}
            TeamVisionary is one of the best build teams on the online market.
            We are delivering all builds in a timely and quality manner.
            Because of our official Minecraft partnership, we can provide higher quality.
            Check out our portfolio or take a look at our marketplace products.
            {% endif %}" />
    <meta property="twitter:creator" content="@author_handle">
    <meta property="twitter:image:src" content="{% if page_info.image %} {{ page_info.image }} {% else %} https://teamvisionary.net/static/pages/logo.png {% endif %}">

    {% block head %}
    {% endblock head %}

  </head>
  <body {% block body_properties %} class="grey lighten-4" {% endblock body_properties %}>

    <style>
        h1 {
           font-size: 2rem;
        }
    </style>
  
    <header>
       {% if user.is_authenticated %}
        {% include "pages/base/navbar_user.html" %}
      {% else %}
        {% include "pages/base/navbar_guest.html" %}
      {% endif %}
    </header>
   

    <main>

      {% if messages %}
      <div id="messages">
        <div class="row" style="margin: 15px 15px 0px 15px;">
          <div class="card col xl6 offset-xl3 s12">
            <div class="col m11 s10">
              <ul class="messages">
                  {% for message in messages %}
                  <li style="margin-left: 10px;" {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                      {{ message }}
                  </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="col m1 s2">
              <button onclick="closeMessages()" class="btn purple" style="margin-top: 8px;">X</button>
            </div>
          </div>
        </div>
      </div>
      
      {% endif %}

      {% block content %}
      {% endblock content %}

    </main>
    

    <footer class="page-footer purple darken-3">
      {% include "pages/base/footer.html" %}
    </footer>

    

    <!-- Begin of Chaport Live Chat code -->
    <script type="text/javascript">
    (function(w,d,v3){
    w.chaportConfig = { appId : '5c3f03b66c5ba203a829e63d' };

    if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
    </script>
    <!-- End of Chaport Live Chat code -->

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!--Cookie Consent-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    
    <script type="text/javascript" src="{% static "pages/base/js/materialize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "pages/base/js/init.js" %}"></script>

    <script>

        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
              "palette": {
                "popup": {
                  "background": "#4a148c"
                },
                "button": {
                  "background": "#8e24aa"
                }
              },
              "theme": "classic",
              "position": "bottom-right"
            })
        });
    
      $(document).ready(function(){

        $('.dropdown-trigger-account').dropdown({
          closeOnClick: false,
          outDuration: 500,
          coverTrigger: false,
          hover: true,
          constrainWidth: true,
        });

      });

      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });

      function closeMessages() {
        $('#messages').slideUp("slow", function(){ $(this).remove();});
      }

      $('#read_more').click(function () {
        $('#read_more').css('display', 'none');
        $('#more').css('display', 'inline');
      });
    
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    
    </script>



    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
