{% extends "marketplace/base/template.html" %}

{% block content %}
  
  <div class="row" style="display: flex; flex-wrap: wrap;">
    
    <div class="col l6 s12" >


      <div class="card-panel">
        <p style="margin: 0px 0px 5px 0px;">Projects</p>
        <div class="divider" style="margin-bottom: 15px;"></div>
        <div class="collection">
          {% for project in projects %}
            <a href="{% url 'marketplace_product_detail' slug=project.slug %}" class="collection-item purple-text">{{ project.name }}</a>
          {% endfor %}
        </div>
        <div style="text-align: center;">
          {% if projects_count_remaining > 0 %}
            <p>...and {{ projects_count_remaining }} more projects</p>
          {% endif %}
          <a href="{% url 'marketplace_product_list' %}" class="btn purple"><i class="material-icons left">format_list_bulleted</i>View all projects</a>
        </div>
      </div>     
    </div>



    <div class="col l6 s12">
      <div class="card-panel">
        <p style="margin: 0px 0px 5px 0px;">Statistics</p>
        <div class="divider" style="margin-bottom: 35px;"></div>
        <ul class="collection">
          <li class="collection-item">
            <div>Total
              <span class="secondary-content">${{ member_total_earnings }}</span>
            </div>
          </li>
          <li class="collection-item">
            <div>Last 30 days
              <span class="secondary-content">${{ member_last_30_days_earnings }}</span>
            </div>
          </li>
          <li class="collection-item">
            <div>Highest earning project
              <a href="{% url 'marketplace_product_detail' slug=member_highest_earning_product.slug %}" class="secondary-content purple-text">{{ member_highest_earning_product.name }}</a>
            </div>
          </li>
          <li class="collection-item">
            <div>Lowest earning project
              <a href="{% url 'marketplace_product_detail' slug=member_lowest_earning_product.slug %}" class="secondary-content purple-text">{{ member_lowest_earning_product.name }}</a>
            </div>
          </li>
          <li class="collection-item">
            <div>Average earnings per project
              <span class="secondary-content">${{ member_average_earnings_per_product }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

<!--
    <div class="col s12">
      <div class="card-panel" style="padding: 0px 30px 0px 30px;">
        
        <div class="row" style="margin-bottom: 0px;">
          <div class="col" style="margin-top: 11px;">
              <p>Check total earnings between dates: </p>
          </div>
          <div class="input-field col s4">
              <input type="text" class="datepicker" id="starting_date">
              <label for="starting_date">Starting Date</label>
          </div>
          <div class="input-field col s4">
              <input type="text" class="datepicker" id="ending_date">
              <label for="ending_date">Ending Date</label>
          </div>
          <div class="col">
              <a id="submit_dates" href="#" class="btn purple" style="margin: 20px 0px 10px 0px;"><i class="material-icons left">send</i>Submit</a>
          </div>
        </div>

      </div>
    </div>
-->

    <div class="col l6 s12">
      <div class="card-panel">

        <table class="centered">
          <thead>
            <tr>
                <th>Month</th>
                <th>Earnings</th>
            </tr>
          </thead>

          <tbody>
            {% for month_earnings in last_6_months_earnings %}
              <tr>
                <td><a href="" class="purple-text">{{ month_earnings.0 }}</a></td>
                <td>
                  {% if month_earnings.1 != "0.00" %}
                    ${{ month_earnings.1 }}
                  {% else %}
                    N/A
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>

      </div>
    </div>

    <div class="col l6 s12">
      <div class="card-panel">
        <canvas id="myChart" height="195"></canvas>
      </div>
    </div>

  </div>

{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script>
  
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  var months = {{ months|safe }};
  var earnings = {{ earnings|safe }};

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: months,

        datasets: [{
            label: 'Monthly Earnings',
            fill: false,
            backgroundColor: 'rgb(153, 102, 255)',
            borderColor: 'rgb(153, 102, 255)',
            data: earnings
        }]
    },
    options: {
      responsive: true,
      elements: {
        line: {
          tension: 0
        }
      },
      tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false,
        callbacks: {
          label: function(tooltipItems, data) {
            value = tooltipItems.yLabel;
            if (parseInt(value) >= 1000) {
               return 'Earnings: $' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } else {
               return 'Earnings: $' + value;
            }
          }
        }
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        yAxes: [{
            ticks: {
               beginAtZero: true,
               callback: function(value, index, values) {
                  if (parseInt(value) >= 1000) {
                     return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  } else {
                     return '$' + value;
                  }
               }
            }
         }]
      }
    },
  });
  </script>
{% endblock scripts %}