{% extends "marketplace/base/template.html" %}

{% block content %}
  
  <style>
    .collapsible li.active i {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }
  </style>

  <div class="row">
    <div class="col s12">
      
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_less</i>
            TeamVisionary Intake Guide
          </div>
          <div class="collapsible-body grey lighten-5">
            <span>
              <p style="text-align: center; font-weight: 500; margin: 0px 0px 20px 0px;">
                <a href="https://docs.google.com/document/d/1BXMxhWoS54Pj1PPGFFx_qMAwb6QGFwGOxHVPVVpLIG8/edit?usp=sharing" target="_blank" class="purple-text">Open document in Google Docs</a>
              </p>
              <div align="center">
                <iframe style="width:100%; height: 600px; max-width: 835px;" src="https://docs.google.com/document/d/e/2PACX-1vRD88IRIzk79R5I-hGvsBwazIDCiNGFNHO76_ogLHfPw_zkb_WG1EvnXaNbeeZi0Umimp0STrgt77Py/pub?embedded=true"></iframe>
              </div>
            </span>
          </div>
        </li>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_less</i>
            TeamVisionary Invoice
          </div>
          <div class="collapsible-body grey lighten-5">
            <span>
              <p style="text-align: center; font-weight: 500; margin: 0px 0px 20px 0px;">
                <a href="https://docs.google.com/document/d/1QrFDSoB1cHJqrvt5MUpj6GhHsaLYfhkgjQ3_IcxNCxM/edit?usp=sharing" target="_blank" class="purple-text">Open document in Google Docs</a>
              </p>
              <div align="center">
                <iframe style="width:100%; height: 600px; max-width: 1000px;" src="https://docs.google.com/document/d/e/2PACX-1vQgdD2NvoHPPOPhEdNzPtN5ZjYxvu_FHQI-hAdLnElyi0RFU7DxBHeUS8fiARIYxuL9b-3Th7GS6QcN/pub?embedded=true"></iframe>
              </div>
            </span>
          </div>
        </li>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_less</i>
            Marketplace Project Sheet
          </div>
          <div class="collapsible-body grey lighten-5">
            <span>
              <p style="text-align: center; font-weight: 500; margin: 0px 0px 20px 0px;">
                <a href="https://docs.google.com/spreadsheets/d/17Mre7fK0jzZVoJ6APa18b5xL1DXjXrcI8kgnqrvJ3NE/edit?usp=sharing" target="_blank" class="purple-text">Open document in Google Docs</a>
              </p>
              <div align="center">
                <iframe style="width:100%; height: 600px; " src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRGytRD5NI2WsI-SM2rkPoFo7OlpdOM9YvTO70grA3W-1VzIl5DuVNhni7gZEoTpR8M_4Bf_ESfIueS/pubhtml?widget=true&amp;headers=false"></iframe>
              </div>
            </span>
          </div>
        </li>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_less</i>
            Drive Submission Guideline
          </div>
          <div class="collapsible-body grey lighten-5">
            <span>
              <p style="text-align: center; font-weight: 500; margin: 0px 0px 20px 0px;">
                <a href="https://docs.google.com/document/d/1hmTumI2ytTQHLCzYsEtmXSbNevDhhy5s7EQSPsAlFIs/edit?usp=sharing" target="_blank" class="purple-text">Open document in Google Docs</a>
              </p>
              <div align="center">
                <iframe style="width:100%; height: 600px; max-width: 835px;" src="https://docs.google.com/document/d/e/2PACX-1vRN4FEIv8ZuqRbhY0k0Yqo1MiYWIEjloFDruWDmh1e8hcJM-6fDeZ4kbv35P2FzRqbvf17SKdjVhvKt/pub?embedded=true"></iframe>
              </div>
            </span>
          </div>
        </li>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_less</i>
            Skinpack + Resource Pack Guidelines
          </div>
          <div class="collapsible-body grey lighten-5">
            <span>
              <p style="text-align: center; font-weight: 500; margin: 0px 0px 20px 0px;">
                <a href="https://docs.google.com/document/d/1xB7Y1egTWVzJviho7RI8vxQXgqev4HvUQm06X3t9ML8/edit?usp=sharing" target="_blank" class="purple-text">Open document in Google Docs</a>
              </p>
              <div align="center">
                <iframe style="width:100%; height: 600px; max-width: 835px;" src="https://docs.google.com/document/d/e/2PACX-1vRFhfNuiHL5PniI-KOTNdAtmyZyGtdtcLBd9ZjqsM-T-WGnXaBiFayzNxVsjiw96RkE-wetQb110D_t/pub?embedded=true"></iframe>
              </div>
            </span>
          </div>
        </li>

      </ul>

    </div>
  </div>

  

{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
{% endblock scripts %}