{% extends "marketplace/base/template.html" %}

{% block content %}
  
  <div class="row" style="display: flex; flex-wrap: wrap;">
    
    <div class="col l6 s12">

      <div class="card-panel">

        <p style="margin: 0px 0px 5px 0px;">Projects</p>
        <div class="divider"></div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="col l9 s8">
            <div class="input-field col s12">
              <input id="search_box" type="text">
              <label for="search_box">Search</label>
            </div>
          </div>
          <div class="col l3 s4" style="text-align: center;">
            <div class="btn purple" style="margin-top: 25px;">
              <div class="show-on-small hide-on-med-and-up">
                <i class="material-icons">search</i>
              </div>
              <div class="show-on-medium-and-up hide-on-small-only">
                <i class="material-icons left">search</i>Search
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="left">
            <p style="margin: 0px 0px 0px 20px;">Project name</p>
          </div>
          <div class="right">
            <p style="margin: 0px 20px 0px 0px;">Total earnings</p>
          </div>
        </div>

        <div class="collection" style="margin-bottom: 5px;">
          <a href="#!" class="collection-item purple-text">Minecraft Map<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Skin Pack<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Resource Pack<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Stunt3r is awesome Pack<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Project name<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Project name<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Project name<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Project name<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Project name<span class="secondary-content">12,000$</span></a>
          <a href="#!" class="collection-item purple-text">Project name<span class="secondary-content">12,000$</span></a>
        </div>
        
        <div align="center" style="margin-top: 20px;">
          <ul class="pagination" align="center" style="margin: 0px;">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active purple"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>     
    </div>

    <div class="col l6 s12">
      
      <div class="row" style="margin-bottom: 0px;">
        <div class="card-panel" >
          <p>Settings</p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 0px;">
        <div class="card-panel">
          <p style="text-align: center; margin: 0px 0px 10px 0px;">CSV Manager</p>
          <div class="divider" style="margin-bottom: 5px;"></div>
          <div class="row" style="margin-bottom: 0px">
            <div class="left"><p style="margin: 5px 0px 5px 10px">Last update:</p></div>
            <div class="right"><p style="margin: 5px 10px 5px 0px">20-Jan-2019</p></div>
          </div>
          <div class="row" style="margin-bottom: 0px">
            <div class="left"><p style="margin: 5px 0px 5px 10px">Number of files uploaded:</p></div>
            <div class="right"><p style="margin: 5px 10px 5px 0px">20</p></div>
          </div>
          <div align="center">
            <a href="#" class="btn purple">UPLOAD CSV</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card-panel">
          <canvas id="myChart" height="195"></canvas>
        </div>
      </div>

    </div>

  </div>


{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script>
  
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  var allMonths = ['July', 'August', 'September', 'October', 'November', 'December'];

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: allMonths,

        datasets: [{
            label: 'Monthly Earnings',
            fill: false,
            backgroundColor: 'rgb(153, 102, 255)',
            borderColor: 'rgb(153, 102, 255)',
            data: ['100', '200', '300', '400', '300', '200']
        }]
    },
    options: {
      responsive: true,
      elements: {
        line: {
          tension: 0
        }
      },
      tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false,
        callbacks: {
          label: function(tooltipItems, data) {
            value = tooltipItems.yLabel;
            if (parseInt(value) >= 1000) {
               return 'Earnings: $' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } else {
               return 'Earnings: $' + value;
            }
          }
        }
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        yAxes: [{
            ticks: {
               beginAtZero: true,
               callback: function(value, index, values) {
                  if (parseInt(value) >= 1000) {
                     return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  } else {
                     return '$' + value;
                  }
               }
            }
         }]
      }
    },
  });
  </script>
{% endblock scripts %}