{% extends "marketplace/base/template.html" %}

{% block content %}
  
  <ul id='sortByDropdown' class='dropdown-content'>
      <li><a onclick="clearFilter('sort_by');">Default</a></li>
      <li><a onclick="sortBy('name');">Name</a></li>
      <li><a onclick="sortBy('total-earnings')">Total Earnings</a></li>
      <li><a onclick="sortBy('your-earnings')">Your Earnings</a></li>
  </ul>

  <div class="row" style="margin-bottom: 0px;">
    <div class="col s12">
      <div class="card-panel" style="padding: 0px 30px 0px 30px;">
        <div class="row" style="margin-bottom: 0px;">
        
          <div class="row" style="margin-bottom: 0px;">
            <div class="col l9 s8">
              <div class="input-field col s12">
                <input id="searchBox" type="text">
                <label class="active" for="searchBox">Search</label>
              </div>
            </div>
            <div class="col l3 s4" style="text-align: center;">
              <a onclick="searchText();" class="btn purple" style="margin-top: 25px;">
                <div class="show-on-small hide-on-med-and-up">
                  <i class="material-icons">search</i>
                </div>
                <div class="show-on-medium-and-up hide-on-small-only">
                  <i class="material-icons left">search</i>Search
                </div>
              </a>
            </div>
          </div>
          
          <div class="row" style="padding: 0px 10px 0px 10px; margin-bottom: 10px;">
            <div class="col">
              <p style="font-weight:500;">Sort by:</p>
            </div>
            <div class="col">
              <a class="dropdown-trigger-sortBy btn purple" style="margin-top: 5px;" data-target="sortByDropdown"><span id="dd_sort_by">Default</span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 0px;">
      <div class="col s12">
        <div class="card-panel">

          {% if object_list %}
          <table>
            <thead>
              <tr>
                  <th>Project Name</th>
                  <th style="text-align: center;">Total Earnings</th>
                  <th style="text-align: center;">Your Earnings</th>
                  <th style="text-align: center;"></th>
              </tr>
            </thead>

            <tbody>
              
              {% for product in object_list %}

                <tr>
                  <td>{{ product.name }}</td>
                  <td style="text-align: center;">${{ product.total_earnings }}</td>
                  <td style="text-align: center;">${{ product.member_earnings }}</td>
                  <td style="text-align: center;"><a href="{% url 'marketplace_product_detail' slug=product.slug %}" class="purple-text">View details</a></td>
                </tr>

              {% endfor %}

            </tbody>
          </table>

          {% else %}
            <h5>There are no projects yet.</h5>
          {% endif %}
          
                  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <canvas id="myChart" height="100"></canvas>
        </div>
      </div>
    </div>

  

{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script>

      $(document).ready(function(){
        
        $('.dropdown-trigger-sortBy').dropdown({
        closeOnClick: false,
        outDuration: 500,
        coverTrigger: false,
        hover: true,
        constrainWidth: true,
      });

      var sorting_choices = {"name": "Name", "total-earnings": "Total Earnings", "your-earnings": "Your Earnings"};

      var url = window.location.href;
      var urlParts = url.split('?');
      var params = new URLSearchParams(urlParts[1]);
      
      if(params.has("sort_by")){
        $("#dd_sort_by").html(sorting_choices[params.get("sort_by")]);
      }

      if(params.has("search")){
        $("#searchBox").val(params.get("search"));
      }

    });

    function clearFilter(parameter) {
      var url = window.location.href;
      var urlParts = url.split('?');
      var params = new URLSearchParams(urlParts[1]);
      params.delete(parameter);
      var new_url = urlParts[0] + '?' + params.toString()
      window.location.href = new_url;
    }

    function updateUrlParameter(uri, key, value) {
        var i = uri.indexOf('#');
        var hash = i === -1 ? ''  : uri.substr(i);
             uri = i === -1 ? uri : uri.substr(0, i);

        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            uri = uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            uri = uri + separator + key + "=" + value;
        }
        return uri + hash;
    }

    function sortBy(option) {
      var current_url = window.location.href;
      var new_url = updateUrlParameter(current_url, "sort_by", option);
      window.location.href = new_url;
    }

    function searchText() {
      var search_value = document.getElementById('searchBox').value;
      var current_url = window.location.href;
      var new_url = updateUrlParameter(current_url, "search", search_value);
      window.location.href = new_url;
    }

    var barChartData = {
      labels: {{ top_5_products|safe }},
      datasets: [
        {
          label: 'Top 5 most earnings',
          borderWidth: 1,
          backgroundColor: '#8e24aa',
          borderColor: '#8e24aa',
          data: {{ top_5_earnings|safe }}
        },
      ]

    };
    window.onload = function() {
      var ctx = document.getElementById("myChart").getContext('2d');
      window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
            callbacks: {
              label: function(tooltipItems, data) {
                value = tooltipItems.yLabel;
                if (parseInt(value) >= 1000) {
                   return 'Total Earnings: $' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                   return 'Total Earnings: $' + value;
                }
              }
            }
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            yAxes: [{
                ticks: {
                   beginAtZero: true,
                   callback: function(value, index, values) {
                      if (parseInt(value) >= 1000) {
                         return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      } else {
                         return '$' + value;
                      }
                   }
                }
             }]
          }
        }
      });
    };
    </script>
{% endblock scripts %}