{% extends "marketplace/base/template.html" %}

{% load static %}

{% block content %}

  <style>
    .scrollbar
    {
      overflow-y: auto;
    }
    #style-3::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    #style-3::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    #style-3::-webkit-scrollbar-thumb
    {
      background-color: rgb(74, 20, 140);
    }
  </style>
      
  <div class="row" style="margin-bottom: 0px;">
    <div class="col l8 m12">
      <div class="card-panel">

        <div class="row" style="margin: 0px;">

          <div class="col s12" style="text-align: center;">
            <h1 style="margin: 0px 0px 15px 0px;">{{ product.name }}</h1>
          </div>
        </div>

        <div class="divider"></div>

        <div class="row" style="margin-bottom: 5px;">

          {% if user_is_member %}
          <div class="col l6 s12">
          {% else %}
          <div class="col s12">
          {% endif %}
            <p style="text-align: center;">Project's Earnings</p>
            <ul class="collection">
              <li class="collection-item">
                <div>Total
                  <span class="secondary-content">{{ product_total_earnings }}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 30 days
                  <span class="secondary-content">{{product_last_30_days_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 60 days
                  <span class="secondary-content">{{product_last_60_days_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 90 days
                  <span class="secondary-content">{{product_last_90_days_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 6 months
                  <span class="secondary-content">{{product_last_6_months_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>This year
                  <span class="secondary-content">{{product_this_year_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last year
                  <span class="secondary-content">{{product_last_year_earnings}}</span>
                </div>
              </li>
            </ul>
          </div>

          {% if user_is_member %}
          <div class="col l6 s12">
            <p style="text-align: center; font-weight: 500;">Your Earnings</p>
            <ul class="collection">
              <li class="collection-item">
                <div>Total
                  <span class="secondary-content">{{member_total_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 30 days
                  <span class="secondary-content">{{member_last_30_days_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 60 days
                  <span class="secondary-content">{{member_last_60_days_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 90 days
                  <span class="secondary-content">{{member_last_90_days_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last 6 months
                  <span class="secondary-content">{{member_last_6_months_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>This year
                  <span class="secondary-content">{{member_this_year_earnings}}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>Last year
                  <span class="secondary-content">{{member_last_year_earnings}}</span>
                </div>
              </li>
            </ul>
          </div>
          {% endif %}

        </div>

      </div>
    </div>
    <div class="col l4 m12">
      <div class="card-panel scrollbar" id="style-3" style="height: 470px;">
        <div class="row" style="margin-bottom: 0px;">
          <div class="left">
            <h5 style="margin: 5px 0px 0px 15px;">Members: </h5>
          </div>
          {% if user.is_marketplace_manager %}
            <div class="right">
              <a href="#" class="btn purple" style="margin-right: 15px;">Manage members</a>
            </div>
          {% endif %}
        </div>
        
        <br>

        <div class="divider" style="margin-bottom: 8px;"></div>
        {% for member in product.members.all %}
        
          <div class="row" style="margin-bottom: 0px;">
            <div class="col s3">
              <center>
                {% if False %}
                  <img class="responsive-img circle"  src={{member.user.userprofile.avatar.url}} width="50px">
                {% else %}
                  <img class="responsive-img circle"  src={% static "profiles/default_avatar.png" %} width="50px">
                {% endif %}
              </center>
              
            </div>
            <div class="col s5">
              <center style="margin-top: 10px;">
                <a href="" class="purple-text"> {# TODO: Add link to the public user profile #}
                  {{ member.user.username }}
                </a>
              </center>
            </div>
            <div class="col s4">
              <center style="margin-top: 10px;">
                {{ member.earnings_percentage }}%
              </center>
                
            </div>
          </div>
          <div class="divider" style="margin-bottom: 7px; margin-top: 2px;"></div>

        {% endfor %}

      </div>
    </div>
  </div>
  
  <div class="row" style="margin-bottom: 0px;">
    
    <div class="col s12">
      <div class="card-panel" style="padding: 0px 30px 0px 30px;">
        
        <div class="row" style="margin-bottom: 0px;">
          <div class="col" style="margin-top: 11px;">
              <p>Check earnings between dates: </p>
          </div>
          <div class="input-field col s4">
              <input type="text" class="datepicker" id="starting_date">
              <label for="starting_date">Starting Date</label>
          </div>
          <div class="input-field col s4">
              <input type="text" class="datepicker" id="ending_date">
              <label for="ending_date">Ending Date</label>
          </div>
          <div class="col">
              <a id="submit_dates" href="#" class="btn purple" style="margin: 20px 0px 10px 0px;"><i class="material-icons left">send</i>Submit</a>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row" style="margin-bottom: 0px;">
    <div class="col s12">
      <div class="card-panel">
        <p style="text-align: center; margin: 0px 0px 20px 0px; font-weight: 500;">Last 30 days earnings</p>
        <div class="divider"></div>

        <div class="row">
          
          <div class="col l6 s12">
            <table class="centered">
              <thead>
                <tr>
                    <th>Date</th>
                    <th>Project's Earnings</th>
                    {% if user_is_member %}
                    <th>Your Earnings</th>
                    {% endif %}
                </tr>
              </thead>

              <tbody>
                {% for transaction in daily_transactions_first %}
                  <tr>
                    <td style="padding: 5px;">{{ transaction.date_only }}</td>
                    <td style="padding: 5px;">${{ transaction.product_day_earnings }}</td>
                    {% if user_is_member %}
                    <td style="padding: 5px;">${{ transaction.member_day_earnings }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="col l6 s12">
            <table class="centered">
              <thead>
                <tr>
                    <th>Date</th>
                    <th>Project's Earnings</th>
                    {% if user_is_member %}
                    <th>Your Earnings</th>
                    {% endif %}
                </tr>
              </thead>

              <tbody>
                {% for transaction in daily_transactions_second %}
                  <tr>
                    <td style="padding: 5px;">{{ transaction.date_only }}</td>
                    <td style="padding: 5px;">${{ transaction.product_day_earnings }}</td>
                    {% if user_is_member %}
                    <td style="padding: 5px;">${{ transaction.member_day_earnings }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>

        

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <canvas id="myChart" height="90"></canvas>
      </div>
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script>

  function isEmpty(el){
      return !$.trim(el.val())
  }
  
  function updateUrlParameter(uri, key, value) {
      var i = uri.indexOf('#');
      var hash = i === -1 ? ''  : uri.substr(i);
           uri = i === -1 ? uri : uri.substr(0, i);

      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
          uri = uri.replace(re, '$1' + key + "=" + value + '$2');
      } else {
          uri = uri + separator + key + "=" + value;
      }
      return uri + hash;
  }


  $('#submit_dates').click(function () {
    if (isEmpty($('#starting_date')) || isEmpty($('#ending_date')))
        return;
    
    var start_date = $('#starting_date').val();
    var end_date = $('#ending_date').val();
    
    var earnings_url = "{% url 'marketplace_product_interval_earnings' slug=product.slug %}";
    var new_url = updateUrlParameter(earnings_url, "start_date", start_date);
    new_url = updateUrlParameter(new_url, "end_date", end_date);

    window.location.href = new_url;
  });
  
  $(document).ready(function(){
      $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        firstDay: 1,
        yearRange: 3
      });
    });
  
  var user_is_member = false;
  {% if user_is_member %}
    user_is_member = true; 
  {% endif %}

  var ctx = document.getElementById("myChart").getContext('2d');
  
  var datasets = [];

  product_dataset = {
    label: 'Product Monthly Earnings',
    fill: false,
    backgroundColor: 'rgb(153, 102, 255)',
    borderColor: 'rgb(153, 102, 255)',
    data: {{ product_earnings|safe }} // {{ product_earnings }}
  };
  
  datasets.push(product_dataset);

  if (user_is_member)
  {
    member_dataset = {
      label: 'Your Monthly Earnings',
      fill: false,
      backgroundColor: 'rgb(229, 103, 254)',
      borderColor: 'rgb(229, 103, 254)',
      data: {{ member_earnings|safe }} // {{ member_earnings }}
    };

    datasets.push(member_dataset);
  }

  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ months|safe }}, // {{ months }}
          datasets: datasets
      },
      options: {
        responsive: true,
        elements: {
          line: {
            tension: 0
          }
        },
        title: {
          display: true,
          text: 'Earnings'
        },
        tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function(tooltipItems, data) {
              var text = "Product Earnings: $";
              console.log(tooltipItems);
              if (tooltipItems.datasetIndex === 1) {
                var text = "Your Earnings: $";
              }
              value = tooltipItems.yLabel;
              if (parseInt(value) >= 1000) {
                 return text + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                 return text + value;
              }
            }
          }
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          yAxes: [{
              ticks: {
                 beginAtZero: true,
                 callback: function(value, index, values) {
                    if (parseInt(value) >= 1000) {
                       return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    } else {
                       return '$' + value;
                    }
                 }
              }
           }]
        }
      },
      
      
  });
  </script>
{% endblock scripts %}