{% extends "marketplace/base/template.html" %}

{% block content %}
  
  <div class="row">
    <div class="col s12">
      
        <div class="card-panel" style="text-align:center; margin-bottom: 15px;">
          <a href="#" style="font-size: 2rem; text-align: center;" class="purple-text">{{ product.name }}</a>
        </div>

        <div class="row" style="margin-bottom: 0px;">
    
          <div class="col s12">
            <div class="card-panel" style="padding: 0px 30px 0px 30px;">
              
              <div class="row" style="margin-bottom: 0px;">
                <div class="col" style="margin-top: 11px;">
                    <p>Check earnings between dates: </p>
                </div>
                <div class="input-field col s4">
                    <input type="text" class="datepicker" id="starting_date">
                    <label for="starting_date">Starting Date</label>
                </div>
                <div class="input-field col s4">
                    <input type="text" class="datepicker" id="ending_date">
                    <label for="ending_date">Ending Date</label>
                </div>
                <div class="col">
                    <a id="submit_dates" href="#" class="btn purple" style="margin: 20px 0px 10px 0px;"><i class="material-icons left">send</i>Submit</a>
                </div>
              </div>

            </div>
          </div>

        </div>

        {% if invalid_dates %}

          <div class="row">
            <div class="col s12">
              <div class="card-panel">
                <div align="center">
                  <h1>Invalid date interval</h1>
                  <p>Please choose another date interval</p>
                  <p>or</p>
                  <p><a class="purple-text" href="{% url 'marketplace_product_detail' slug=product.slug %}">Go to Project's Detail Page</a></p>
                </div>
              </div>
            </div>
          </div>

        {% else %}

          {% if daily_transactions %}

            <div class="row" style="margin-bottom: 0px;">
              <div class="col s12">
                <div class="card-panel">
                  <p style="text-align: center; margin: 0px 0px 20px 0px;">Earnings between <span style="font-weight: 500;">{{ start_date }}</span> and <span style="font-weight: 500;">{{ end_date }}</span></p>
                  <div class="divider"></div>

                  <div class="row">
                    
                    <div class="col s12">
                      <table class="centered">
                        <thead>
                          <tr>
                              <th>Date</th>
                              <th>Project's Earnings</th>
                              {% if user_is_member %}
                              <th>Your Earnings</th>
                              {% endif %}
                          </tr>
                        </thead>

                        <tbody>
                          {% for transaction in daily_transactions %}
                            <tr>
                              <td style="padding: 5px;">{{ transaction.date_only }}</td>
                              <td style="padding: 5px;">{{ transaction.product_day_earnings }}</td>
                              {% if user_is_member %}
                              <td style="padding: 5px;">{{ transaction.member_day_earnings }}</td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          {% else %}

            <div class="row">
              <div class="col s12">
                <div class="card-panel">
                  <div align="center">
                    <h1>No earnings</h1>
                    <p style="font-size: 20px;">There are no earnings between <span style="font-weight: 500;">{{ start_date }}</span> and <span style="font-weight: 500;">{{ end_date }}</span></p>
                    <p>Please choose another date interval</p>
                    <p>or</p>
                    <p><a class="purple-text" href="{% url 'marketplace_product_detail' slug=product.slug %}">Go to Project's Detail Page</a></p>
                  </div>
                </div>
              </div>
            </div>

          {% endif %}

        {% endif %}

        

      
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  
  <script>
    function isEmpty(el){
      return !$.trim(el.val())
    }
    
    function updateUrlParameter(uri, key, value) {
        var i = uri.indexOf('#');
        var hash = i === -1 ? ''  : uri.substr(i);
             uri = i === -1 ? uri : uri.substr(0, i);

        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            uri = uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            uri = uri + separator + key + "=" + value;
        }
        return uri + hash;
    }


    $('#submit_dates').click(function () {
      if (isEmpty($('#starting_date')) || isEmpty($('#ending_date')))
          return;
      
      var start_date = $('#starting_date').val();
      var end_date = $('#ending_date').val();
      
      var earnings_url = "{% url 'marketplace_product_interval_earnings' slug=product.slug %}";
      var new_url = updateUrlParameter(earnings_url, "start_date", start_date);
      new_url = updateUrlParameter(new_url, "end_date", end_date);

      window.location.href = new_url;
    });

    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        firstDay: 1,
        yearRange: 3
      });
    });
  </script>

{% endblock scripts %}