<footer class="page-footer purple darken-3" style="padding: 10px 0px 10px 0px;">
  <div class="container">
    <div class="left">
      <span class="grey-text text-lighten-1">
        Copyright © Teamvisionary® - Teamvisionary is a registred trademark of Gizmoservers LLC
      </span>
    </div>
    <div class="right">
      <a href="{% url 'index' %}" class="white-text" style="margin-right:15px;">Go to Website</a>
      <a href="{% url 'account_logout' %}" class="white-text" style="margin-right:15px;">Sign Out</a>
      <a href="#top" class="white-text"><i class="fas fa-chevron-up"></i></a>
    </div>
  </div>
</footer>