{% load static %}

<div class="navbar-fixed">

  <nav class="purple darken-1" role="navigation">
    <div class="nav-wrapper container">

      <div class="hide-on-med-and-down">
          <a href="#" class="brand-logo center"><div style="font-size: 2.2rem; font-family: 'Fjalla One', sans-serif;">Marketplace</div></a>
      </div>
         
      <div class="show-on-medium hide-on-small-only hide-on-large-only">
          <a href="#" class="brand-logo center"><div style="font-size: 2rem; font-family: 'Fjalla One', sans-serif;">Marketplace</div></a>
      </div>
         
      <div class="show-on-small hide-on-med-and-up">
          <a href="#" class="brand-logo center"><div style="font-size: 1.5rem; font-family: 'Fjalla One', sans-serif;">Marketplace</div></a>
      </div>

      <ul class="left hide-on-med-and-down">
        <li>
          <a href="{% url 'marketplace_dashboard' %}">
            <i class="material-icons left">assignment</i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="{% url 'marketplace_documentation' %}">
            <i class="material-icons left">folder</i>
            Documentation
          </a>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        {% if user.is_marketplace_manager %}
          <li>
            <a href="#">
              <i class="material-icons left">business_center</i>
              Management
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'account_profile' %}">
            <i class="material-icons left">person</i>
            Account
          </a>
        </li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger left"><i class="material-icons">menu</i></a>

    </div>
  </nav>
  
</div>

<ul id="nav-mobile" class="sidenav">
    <li><a href="#">Marketplace Home</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Management</a></li>
    <li><a href="#">Account</a></li>
</ul>