<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />

    <!--Import materialize.css-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "pages/base/css/materialize.min.css" %}"  media="screen,projection" />
    
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Fjalla+One" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="{% static "pages/favico.ico" %}" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    
    <link type="text/css" rel="stylesheet" href="{% static "pages/base/css/base.css" %}"  media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block head_title %}Team Visionary Marketplace{% endblock head_title %}</title>
     
    {% block head %}
    {% endblock head %}

  </head>
  <body {% block body_properties %} class="grey lighten-4" {% endblock body_properties %}>

    <style>
        h1 {
           font-size: 2rem;
        }
    </style>
  
    <header>
       {% include "marketplace/base/navbar.html" %}
    </header>
   

    <main>

      {% if messages %}
      <div id="messages">
        <div class="row" style="margin: 15px 15px 0px 15px;">
          <div class="card col xl6 offset-xl3 s12">
            <div class="col m11 s10">
              <ul class="messages">
                  {% for message in messages %}
                  <li style="margin-left: 10px;" {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                      {{ message }}
                  </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="col m1 s2">
              <button onclick="closeMessages()" class="btn purple" style="margin-top: 8px;">X</button>
            </div>
          </div>
        </div>
      </div>
      
      {% endif %}

      <div class="container">
        <div class="section" style="padding: .75rem .75rem 0rem 1rem;">
          <span>
          {% for navigation_link in navigation_links %}
            {% if navigation_link.url %}
              <a href="{{ navigation_link.url }}" class="grey-text text-darken-2">{{ navigation_link.label }}</a> > 
            {% else %}
              {{ navigation_link.label }}
            {% endif %}
          {% endfor %}
          </span>
        </div>

        {% block content %}
        {% endblock content %}

      </div>

    </main>
    
    
    {% include "marketplace/base/footer.html" %}
    

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!--Cookie Consent-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    
    <script type="text/javascript" src="{% static "pages/base/js/materialize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "pages/base/js/init.js" %}"></script>
    
    
    <script>

        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
              "palette": {
                "popup": {
                  "background": "#4a148c"
                },
                "button": {
                  "background": "#8e24aa"
                }
              },
              "theme": "classic",
              "position": "bottom-right"
            })
        });
    
      $(document).ready(function(){

        $('.dropdown-trigger-account').dropdown({
          closeOnClick: false,
          outDuration: 500,
          coverTrigger: false,
          hover: true,
          constrainWidth: true,
        });

      });

      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });

      function closeMessages() {
        $('#messages').slideUp("slow", function(){ $(this).remove();});
      }

      $('#read_more').click(function () {
        $('#read_more').css('display', 'none');
        $('#more').css('display', 'inline');
      });
    
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    
    </script>

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
