#nav
{
    background: #FFF;
    border-bottom: 2px inset #CCC;
	color:#000;
	height:50px;
	font-weight:700;
	font-size:13px;
	padding-left:10%;
	position:relative;
	overflow:hidden;
}

#item
{
	display:inline-block;
	padding:20px;
	background:#FFF;
    color: #000;
	margin:20px
}

#download
{
	display:inline-block;
	padding:20px;
	background:#FFF;
	margin:20px
}

#dlbutton
{
	text-decoration:none;
	height:50px;
	padding:20px;
	font-weight:700;
	color:#000
}
a:link {
    color: #000;
}
#download:hover, #dlbutton:hover
{
	background:#000;
    color: #FFF;
}

#download:active, #dlbutton:active
{
	background:#FFF;
    color: #000;
}

#banner::before {
    white-space:pre;
    content: '\A\A\A\ATeamVisionary\A\A\A';
}
#banner::after {
    font-size: 180%;
    content: "TeamVisionary Schematic Interface";
}

#banner
{
    font: 10px/5px monospace;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
	height: 190px;

}

body
{
    font-family: 'Courier New', sans-serif;
    background-color: #000;
	margin:0;
	padding:0;
	top:0;
	left:0
}

#button
{
	line-height:50px;
	margin-left:5px;
	display:inline-block
}

.navlink, .link
{
	text-decoration:none;
	height:50px;
	padding:20px;
    font-size: 150%;
    color:#000;
}

.navlink:hover
{
	background: #000;
    color: #FFF;
}

.navlink:active
{
	background: #FFF;
    color: #000;
}

#main
{
	padding:10px 20px;
	margin:0 10% 15px 10%;
	background:#000;
    border-left: 5px solid #FFF;
    border-bottom: 5px solid #FFF;
    border-right: 5px solid #FFF;
}

h1
{
    padding: 10px;
    text-align: center;
    margin: 0 10% 0 10%;
    background: #FFF;
    font-size: 100%;
}
h2,h3 {
    color: white;
    text-align: left;
    font-size: 100%;
}
table
{
	table-layout:auto;
	width:100%;
	border-collapse:collapse;
    color: white;
}

td
{
	border-bottom:1px solid #CCC;
	text-align:left;
	padding-top:5px
}

#box
{
	margin-bottom:20px;
	font-weight:700;
    color: white;
}

input[type=text]:focus
{
	outline:0 none transparent
}

h1:after {
    margin-left: -10px;
    content:" .sh";
}

input[type=text]
{
    background: #000;
    font-family: 'Courier New', sans-serif;
    border: none;
	border-bottom:2px solid #FFF;
	font-size:100%;
	width:100%;
	cursor:pointer;
    color: white;
}

input[type=text]:hover,input[type=text]:focus
{
	border-bottom:2px solid #000;
}

input[type=submit]:focus
{
	outline:0 none transparent
}

input[type=submit]
{
    font-family: 'Courier New', sans-serif;
	border: none;
	margin-top:25px;
	font-size:100%;
	background:#FFF;
	width:100%;
	cursor:pointer;
    font-weight: bold;
}

input[type=submit]:hover
{
	background:#000;
    color: #FFF;
}

input[type=submit]:active
{
background: linear-gradient(
  to bottom,
  #FFF,
  #FFF 50%,
  #000 50%,
  #000
);
/* The rectangle in which to repeat. 
   It can be fully wide in this case */
    background-size: 100% 2px;
    color: #000;
}

input[type=file]:focus {
    outline:0px none transparent;
}
input[type=file] {
    background: #FFF;
    font-family: 'Courier New', sans-serif;
    border: 1px solid #CCC;
    margin-top: 25px;
    font-size:100%;
    width:100%;
    cursor:pointer;
}
input[type=file]:hover {
    background-color:#000;
    color: #FFF;
}
input[type=file]:active {
    background-color:#FFF;
    color: #000;
}