$success-color: #26ca0d;
$error-color: orangered;
$focus-color: dodgerblue;
$disabled-color: grey;

form{

  .gizmo-group{
    display: inline-grid;
    width: 100% !important;
    margin-top: 25px;
  }

  label{
    font-weight: bold;
    font-size: 18px;
    color: #727777;
  }

  input[type=text],input[type=email],input[type=password],input[type=url],select,textarea{
    border-radius: 10px;
    padding: 10px 20px;
    margin: 3px;
    border: 1px solid #95a5a6;
    font-family: Montserrat;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

    &:disabled{
      color: $disabled-color !important;
      border: 1px solid $disabled-color;
      box-shadow: 0 0 4px $disabled-color;
    }

    &.default{
      border: 1px solid #95a5a6 !important;
      color: black !important;
    }

    &:not(.error):not(.success):focus{
      border: 1px solid $focus-color;
      box-shadow: 0 0 4px $focus-color;
    }

    &.error{
      color: $error-color !important;
      border: 1px solid $error-color !important;

      &:focus{
        box-shadow: 0 0 4px $error-color !important;
      }
    }

    &.success{
      color: black !important;
      border: 1px solid $success-color;

      &:focus{
        box-shadow: 0 0 4px $success-color;
      }
    }

    .select-item{
      font-size: 16px;

      &:disabled{
        display: none !important;
      }
    }
  }
}