/* SMALL SCREENS */
@media only screen and (min-width: 1050px) {
    footer .row .row{
        padding-left: 30px;
    }

    #sub-header .breadcrumb {
        right: 0;
    }
}

@media only screen and (max-width: 1440px) {
    .topnav {
        display: block;
    }

    .disable-on-tablet{
        display: none;
    }

    nav{
        display: none !important;
    }
}

/*TABLETS*/
@media only screen and (max-width: 1050px) {
    footer .row .row{
        padding-left: 30px;
    }

    .disable-on-mobile{
        display: none;
    }

    .index-steve img{
        display: none !important;
    }

    .feature-empty{
        display: none !important;
    }

    .topnav {
        display: block;
    }

    nav{
        display: none !important;
    }
}

/*MOBILE PHONE*/
@media only screen and (max-width: 600px) {

    .tooltip .tooltiptext {
        display: none;
    }

    .container {
        width: 82%;
    }

    .container.relative {
        position: initial !important;
    }

    #sub-header {
        padding-bottom: 50px;

        .breadcrumb {
            text-align: center;
            position: absolute;
            bottom: 0;
            top: 46%;

            .breadcrumb-item {
                font-size: 13px;
            }
        }

        .sub-header-title {
            padding-top: 85px;

            h1{
                font-size: 29px;
            }
        }
    }

    .object {
        //padding: 20px 10px;
        margin: 0 auto;
    }

    .faq-card{
        padding: 10px 0;
        text-align: center;
        min-width: 100%;
        font-size: 15px;

        &:hover{
            opacity: 0.6;
        }

        i{
            width: 100%;
            font-size: 19px;
            padding-bottom: 7px;
        }
    }

    .faq-title {
        font-size: 37px;

        &:not(:first-child){
            margin-top: 20px;
        }
    }

    .disable-on-mobile{
        display: none;
    }

    #objects
    {
        text-align: center;
        margin-top: 10px;
    }

    .topnav {
        display: block;
    }

    nav{
        display: none !important;
    }

    #topper:not(.home) p{
        font-size: 14px;
    }

    .multicraft-showmodal {
        margin-bottom: -36px;
    }

    #object-btn{
        font-size: 11px;
    }

    .feature-empty{
        display: none !important;
    }

    .feature{
        width: 91%;

        p{
            font-size: 14px;
            padding: 17px 39px;
        }
    }

    .features:not(:last-child){
        padding-bottom: 0 !important;
        padding-top: 50px !important;
    }

    footer {

        .row .row{
            padding-left: 20px;
        }

        .social-media-icons li{
            padding-left: 15px;
        }

        .widget {
            margin-top: 35px;
        }
    }

    #left{
        margin: 0;
    }

    #topper.home h1, #maintenance h1{
        font-size: 34px;
    }

    #topper.home p, #maintenance p{
        font-size: 20px;
    }

    .object h2{
        margin: 0;
    }

    #topper.home #left{
        padding-top: 16vh;
        margin-left: 0;
    }

    .index-steve img{
        display: none !important;
    }

    .features-steve {
        margin-bottom: -42px;

        img {
            height: 165px;
            width: 324px;
        }
    }

    .left {
        text-align: center !important;
    }

    #topper.home button, #maintenance button{
        margin-top: 20px;
        font-size: 10px;
        font-weight: 500;
        padding: 9px 45px;
    }

    #extras{
        padding-top: 45px;
    }

    .tiers{
        //margin-top: 280px;
    }

    .extra-field{
        padding-top: 60px;
        padding-bottom: 50px;
    }

    #extras ul li{
        font-size: 14px;
    }

    .specialist-steve{
        margin-left: -245px;
    }

    .badges{
        margin-top: 40px;
    }

    #extras ul li:before{
        font-size: 18px;
    }

    #hire_a_specialist #topper p{
        margin-left: 15px;
        width: 90%;
    }

    .multicraft-showmodal img{
        padding: 30px 0;
        width: 332px;
        height: 340px;
    }

    .faq-topper{
        margin-top: 0;
    }
}