@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');

$header-height: 60px;
//$header-background: linear-gradient(to right, #00c6ff, #0072ff)
$header-background: transparent;
$header-color: #34495e;
$header-box-shadow: 0;
$footer-height: auto;
$sub-header-height : calc(120px + #{$header-height});

*
{
  margin: 0;
  padding: 0;
  outline: 0;
  //overflow-y: auto;
  overflow-x: hidden ;
  /*font-family: Montserrat;*/
  /*transition: all linear 100ms;*/
}

section {
  z-index: 4;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff !important;
}

input[type='submit'], button {
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
  transition: all linear 100ms;
  color: #fff;
}

input[type='submit'].blue, button.blue {
  background: #0e90dd;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 -2px rgba(0, 0, 0, .18);
}

input[type='submit'].blue:hover, button.blue:hover {
  //color: #1d8fd2;
  //background: transparent;
  opacity: 0.7;
}

input[type='submit'].white, button.white {
  background: #0e90dd;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 -2px rgba(0,0,0,.18);

  &.fullw{
    width: 100% !important;
  }
}

input[type='submit'].white:hover, button.white:hover {
  //color: #000;
  //background: #fff;
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', cursive;
  text-transform: uppercase;
}

h2{
  font-weight: 900;
}

.text-centered{
  text-align: center;
}

.text-justified{
  text-align: justify;
}

.text-align-center{
  text-align: center;
}

.container{
  width: 65%;
  margin: 0 auto;
  overflow: hidden;
}

.container.relative{
  position: relative !important;
}

.container-vw{
  width: 95%;
}

/*HEADER SECTION*/

header{
  height: $header-height;
  line-height: 40px;
  width: 100vw;
  position: fixed;
  font-weight: bold;
  top: 0;
  transition: all linear 100ms;
  z-index: 20;
  //background: #00c6ff; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: $header-background;
  box-shadow: $header-box-shadow;
  overflow: hidden;

  .header-service{
    text-transform: uppercase !important;
  }

  #logo{
    height: calc(#{$header-height} - 5px);
    margin-top: 3px;
    float: left;
    transition: all linear 100ms;
  }

  nav{
    float: right;

    ul li{
      height: $header-height; // Header fix (DO NOT REMOVE)
    }
  }

  li {
    display: inline-block;
    font-weight: 800 !important;
    font-size: 13px;
    margin-left: 50px;
    padding-top: 12px;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif !important;

    a {
      transition: color linear 100ms;
      color: #fff;

      &:hover {
        color: #000;
      }
    }

    // DROPDOWN
    #dropdown {
      width: fit-content;
      z-index: 21;
      height: 0;
      position: fixed;
      top: 60px;
      overflow: hidden;
      border-radius: 0 0 5px 5px;
      line-height: 40px !important;
      background: #34495e;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      li{
        margin: 0;
        padding: 0 15px;
        text-align: center;
        display: block;
        font-size: 14px;
        z-index: 23 !important;
      }
    }

    &:hover #dropdown{
      height: auto;
      z-index: 25 !important;
    }
  }

  .fas{
    padding-left: 8px;
  }
}

.fas{
  line-height: 1.1 !important;
}

#sub-header{
  width: 100vw;
  background: $header-color;
  height: 100%;
  padding-bottom: 20px;
  position: relative;

  .breadcrumb{
    padding-top: calc(#{$header-height} + 10px);
    text-align: center;
    position: absolute;
    bottom: 0;

    .breadcrumb-item{
      color: white;
      display: inline-block;
      font-size: 15px;
    }

    .breadcrumb-item:last-child:before{
      content:"»";
      padding: 0 7px;
    }
  }

  .sub-header-title{
    color: white;
    font-weight: 900;
    padding-top: calc(calc(#{$sub-header-height} / 2) + 30px);
    font-size: 20px;
    text-align: left;

    h1{
      border-top: 2px solid #0e90dd;
    }
  }
}

/*END OF HEADER SECTION*/

/*FAQ SECTION*/

.faq-title{
  font-weight: 300;
  font-size: 51px;
  text-align: center;
  font-family: "Catamaran",sans-serif !important;

  &:not(:first-child){
    margin-top: 30px;
  }
}

.faq-card{
  background: #0078ff;
  display: inline-block;
  padding: 19px 5px;
  text-align: center;
  color: white;
  box-shadow: inset 0 -2px rgba(0,0,0,.18);
  min-width: 100%;
  border-radius: 8px;

  &:hover{
    opacity: 0.6;
  }

  i{
    width: 100%;
    font-size: 29px;
    padding-bottom: 7px;
  }
}

.accordion, .accordion-open {
  background: -webkit-linear-gradient(right, #1d8fd2 70%, #1565b3);
  //color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px 0.1px rgba(0, 0, 0, 0.19);
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  padding-top: 24px;
  background-color: transparent;
  max-height: 0;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #fff;
  margin-top: -19px;
  border-radius: 5px;
}

.panel-open{
  padding: 13px 18px;
  padding-top: 31px;
  background-color: #1d8fd2;
  text-align: left;
  overflow: hidden;
  transition: max-height .2s ease-out;
  color: #fff;
  margin-top: -19px;
  border-radius: 5px;
}

.panel *:first-child
{
  margin-top: 10px;
}

.panel *:last-child
{
  margin-bottom: 10px;
}

.specialist-faq, .category-faq{
  padding-bottom: 70px;
}

/*END OF FAQ SECTION*/

main
{
  min-height: calc(100vh - #{$header-height});
  /*margin-top: $header-height;*/
}

.specialist-steve{
  height: 424px;
  margin-top: -108px;
}

.faq-topper h2{
  font-weight: 900;
}

.faq-topper{
  margin-top: 100px;
}

.faq-topper p{
  padding: 0 10%;
  width: 80% !important;
  margin-left: 5px !important;
}

.faq-steve img{
  height: 314px;
  width: 38em;
  top: 69px;
  margin-left: -125px;
}

.index-steve img{
  position: absolute;
  z-index: -1;
  height: 800px;
  bottom: -61px;
  right: -193px;
}

#hire_a_specialist .last-text{
  padding: 90px 0;
}

.features-steve img{
  z-index: 0;
  height: 437px;
  width: 900px;
}

.features-steve{
  margin-bottom: -100px;
}

.shaped-divider{
  position: relative;
  z-index: 10 !important;
}

/*HOTJAR  Z-INDEX*/
#_hj-f5b2a1eb-9b07_feedback[data-state="minimized"]{
  z-index: 20 !important;
}

#topper.home, #maintenance
{
  position: relative;
  height: calc(100vh - #{$header-height});
  width: 100%;

  overflow: hidden;
  padding-top: $header-height;
}

#home .bg-image{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/City_converted.jpg') center fixed no-repeat;
  background-size: cover;
  z-index: -1;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  width: 100vw;
}

#topper:not(.home){
  margin-top: 50px !important;
}
#topper.home #left
{
  float: left;
  margin-left: 50px;
  padding-top: 120px;
}

#jobs #topper{
  //margin-bottom: 150px;
}

#topper.home #right
{
  float: left;
}

#topper.home #right img
{
  float: left;
  position: absolute;
  top: calc(#{$header-height} + 60px);
  margin-left: 20px;
  height: 500px;
}

#topper.home h1, #maintenance h1
{
  font-size: 90px;
  font-weight: 900;
  color: #fff;
  text-shadow: 3px 16px 9px black;
}

#maintenance h1{
  margin-top: 100px !important;
  text-align: center !important;
}

#topper.home p, #maintenance p
{
  font-size: 30px;
  text-shadow: 5px 1px 20px black;
  font-weight: 300;
  color: #fff;
}

#topper.home button, #maintenance button
{
  margin-top: 40px;
  float: left;
  font-size: 16px;
  border-radius: 30px;
}

#topper.home #down
{
  width: 80%;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: calc((100vh - #{$header-height}) - 50px);
  transition: all linear 250ms;
  cursor: pointer;
  text-align: center;
  animation: bounce 1s infinite alternate;
}

#topper.home a{
  color: #fff;
}

#home #topper button:last-child
{
  /*margin-left: 20px;*/
}

#topper{
  color: #5a5a5a !important;
}

#topper:not(.home):not(.no-height)
{
  height: 100px;
  text-align: center;
}

#jobs #topper{
  height: 92vh !important;
}

#partnership #topper{
  height: 100% !important;
}

#partner-requirements{
  height: 100%;
  background: $header-color;
  width: 100vw;

  table{
    margin: 20px 0;
    width: 100%;

    tr {

      th{
        &:not(:first-child){
          img{
            width: 79%;
            height: 231px;
          }
        }
      }
      td{
        padding: 10px;
        background: white;
        color: black;
        border-radius: 3px;
        border: 1px solid grey;

        &:not(:first-child) {
          flex: 1;
        }

        &:first-child{
          width: 20%;
        }
      }
    }
  }
}

#partner-apply-form{
  margin: 100px 0;
}

#topper:not(.home) h2
{
  margin-top: 40px;
  font-size: 40px;
}

#topper:not(.home) p
{
  font-size: 16px;
}

.features h1{
  padding-bottom: 50px;
}

#faq, #terms
{
  margin-bottom: $header-height !important;
  margin-top: 30px;
}

#faq h3, #terms h3
{
  margin-top: 30px;
  margin-bottom: 10px;
}

#features
{
  text-align: center;
}

.features
{
  min-height: 300px;
  text-align: center;
  background: white !important;
  padding: 0 10%;
}

#features .row div{
  /*margin-left: 20px;*/
}

.features:not(:last-child)
{
  padding-top: 100px;
}

.features:last-child
{
  padding-top: 20px;
}

.features:nth-child(odd)
{
  background-color: #fff;
}

.hero-divider {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 100px;
}

.feature
{
  min-height: 270px;
  max-height: 270px;
  /*width: 300px;*/
  text-align: center;
  background: -webkit-linear-gradient(right, #1d8fd2 50%, #1565b3);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 20px 0;
  max-width: 330px;
}

.feature-empty{
  min-height: 230px;
  max-height: 230px;
  width: 300px;
  text-align: center;
  background: none;
  color: #fff;
  display: inline-block;
  margin: 20px;
}

.foreground{
  background: -webkit-linear-gradient(right, #d23f32 50%, #b33c1c);
}

.feature h3
{
  margin-top: 28px;
  padding: 0px 10px;
}
.feature h3 i
{
  margin-bottom: 5px;
  line-height: 1.1 !important;
}


.feature p
{
  padding: 10px;
}

.extra-field{
  padding: 110px 0;
}

#view-more_faq{
  margin-top: 30px;
}

.checked {
  color: orange !important;
}

.fa-star{
  color: white;
  font-size: 9px;
}

.extra-text{
  font-weight: 300;
  font-size: 25px !important;
  color: white;

  &.black{
    color: black !important;
  }
}

#extras{
  height: 100%;
  /*padding: 70px;*/
  padding-top: 150px;
  color: white;
  /*background: -webkit-linear-gradient(right, #1565b3 50%, #1d8fd2);*/
  /*text-transform: uppercase;*/
  font-size: 20px;
  font-weight: 200;
  z-index: 5;
  position: relative;

  background: linear-gradient(270deg, #3173e2, #6c31e2);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

#extras ul li{
  padding-bottom: 10px;
  text-align: left;
}

.error-card{
  background: #00AEEF;
  color: white;
  border-radius: 10px 10px 5px 5px;
  box-shadow: 1px 1px 10px #888888;
}

.card{
  padding: 30px 150px 0 150px;
}

.content{
  margin-top: 100px;
}

.error-card-title{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  background: #0096cc;
  width: 100%;
  min-height: 35px;
  padding: 7px;
  border-radius: 10px 10px 0px 0px;
}

.error-card-content{
  text-align: center;
  min-height: 4%;
  padding: 3% 0;
  font-size: 18px;
  font-weight: 300;
}

.error-card-content a{
  color: white;
}

.error-card-content a:hover{
  color: #00AEEF;
}


#extras ul{
  list-style-type: none;
}

#extras ul li:before{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  padding-right: 20px;
  font-size: 25px;
  color: #00C2FF;
  opacity: 0.8;
  content: "\f058";
}

.reviews{
  margin-top: -20px;
}

#google-reviews{
  padding-top: 150px;
  padding-bottom: 80px;
  height: 300px;
  background: white;
  text-align: center;
}
#google-reviews h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
#google-reviews img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 10%;*/
}

#partners{
  background: white;
  padding: 100px 30px 0 30px;
}

#partners ul{
  list-style-type: none;
}

#partners li{
  float: left;
  display:inline-block;
  padding: 0 20px;
}

#partners .row{
  margin: 0;
}

.greyscale{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

h1, .title{
  font-size: 32px;
  text-transform: uppercase;
}

.medium-text{
  font-weight: 200 !important;
}

.small-text{
  font-weight: 300 !important;
}

.bold-text{
  font-weight: bold !important;
}

.multicraft-showmodal{
  margin-bottom: -17px;

  img{
    border-radius: 10px 10px 0 0;
    width: 800px;
    height: 700px;
  }
}

.company-info{
  margin-top: 30px;
  margin-bottom: 100px;
}

.panel-info{
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: 25px !important;
}

.left{
  float: left !important;
  text-align: left !important;
}

.center{
  width: 60% !important;
  margin: auto !important;
}

iframe
{
  margin-bottom: -5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track
{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb
{
  background: #0078FF;
}

::-webkit-scrollbar-thumb:hover
{
  background: #555;
}

footer
{
  height: $footer-height;
  width: 100%;
  background: #262626;
  padding-bottom: 30px;
}

footer .container{
  padding-bottom: 40px;
}

.badge{
  padding: 1px 4px;
  border-radius: 5px;
  margin-left: 5px;
}

.badge-info{
  background: #871cb6;
}

.badge-success{
  background: #2cb60f;
}

b:not(.breset){
  color: #007dae !important;
}

#hire_a_specialist #topper{
  padding: 90px 0;
}

#hire_a_specialist #topper h1{
  color: #00c6ff;
  font-weight: 400;
  padding-bottom: 20px;
}

#hire_a_specialist #topper p{
  font-weight: 200;
  color: #5a5a5a;
}

.last-text{
  text-align: center;
  color: #5a5a5a;
  text-transform: uppercase;
}

.last-text h2{
  font-weight: 200;
}

.last-text p{
  font-weight: 300;
  padding: 20px;
}

.last-text h2 span{
  color: #6c31e2;
  font-weight: bold;
}

.tooltip {
  //position: relative;
  display: inline-block;
}

.rounded{
  border-radius: 10px;
}

button{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#about{
  height: 90vh;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  text-align: left;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  z-index: 100 !important;
  opacity: 0;
  transition: opacity 0.3s;

  background: #6c31e2;
  background-size: 400% 400%;
}

.tooltip-big .tooltiptext{
  width: 280px !important;
}

.tooltop-medium .tooltiptext{
  width: 170px !important;
}

.tooltip::after{
  font-family: "Font Awesome 5 Free";
  content: "\f059";
  color: black;
  font-size: 13px;
}

.tooltip-right {
  top: -5px;
  left: 110% !important;
}

.iron-tier {
  color: silver;
}

.gold-tier {
  color: gold;
}

.diamond-tier {
  color: deepskyblue;
}

/*.tooltip-right::after {*/
/*content: "";*/
/*position: absolute;*/
/*top: 20%;*/
/*right: 100%;*/
/*margin-top: -5px;*/
/*border-width: 5px;*/
/*border-style: solid;*/
/*border-color: transparent #555 transparent transparent;*/
/*}*/

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*.tiers .object{*/
/*background: #1d8fd2;*/
/*border-radius: 20px;*/
/*color: white;*/
/*}*/

.tiers{
  padding-top: 30px;
}

#objects
{
  text-align: center;
  //margin-top: 100px;
}

#objects .row{
  margin-left: 0 !important;
}

.object
{
  height: auto;
  padding: 10px 30px;
  /*background: -webkit-linear-gradient(right, #1d8fd2 50%, #1565b3);*/
  border-radius: 10px;
  color: #5a5a5a;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin: 40px 0;
  display: inline-block;
}

.object img
{
  height: 150px;
  margin-top: 40px;
  max-width: 165px;
}

.object h2
{
  margin-top: 20px;
  font-size: 25px;
}

.object .product-title{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}

.object p
{
  margin-top: 5px;
}

.object:hover{

}

.slider{
  background: blueviolet !important;
}

.choose-slider{
  margin-top: 30px;
  color: #5a5a5a;
}

#object-btn{
  background: #1d8fd2;
  border: 0;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  min-width: 40px;
  box-shadow: inset 0 -2px rgba(0,0,0,.18);
  cursor: pointer;
  font-weight: bold;
  transition: all linear 100ms;
  color: #fff;

  &:hover{
    opacity: 0.7;
  }

  &.fullw{
    min-width: 100% !important;
  }

  &.disabled{
    background: grey;
    cursor: not-allowed;

    &:hover{
      opacity: 1;
    }
  }
}

footer .widget
{
  margin-top: 80px;
  float: left;
  /*width: calc(100% / 4);*/
  text-align: left;
}

footer .centered{
  margin-right: 50%;
  margin-left: 50%;
}

footer .widget2
{
  margin-top: 40px;
  /*float: left;*/
  /*width: calc(100% / 4);*/
  text-align: center;
  color: white;
}

#information{
  background: #0E90DD;
  color: white !important;
  padding: 50px 0 50px 0;
}

.widget h4
{
  color: #fff;

  border-top: 3px solid #314DE2;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-right: 170px;
}

 .social-media-icons li{
  display: inline-block;
  float: none;
  padding-left: 26px;
}

footer .social-media-icons li{
  color: white;
}

footer .social-media-icons button{
  background: #262626;
  border: 2px solid white;
  border-radius: 100%;
  padding: 10px;
  min-width: 40px;
  cursor: pointer;
  font-weight: bold;
  transition: all linear 100ms;
  color: #fff;
}

footer .social-media-btn button:hover{
  color: #262626;
  background: white;
}

footer .widget ul
{
  margin-top: 10px;
  list-style: none;
}

footer .widget li
{
  padding: 5px;
}

footer .widget a, footer .widget2 a
{
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  display: table;
  padding-top: 3px;
}

footer .widget a:hover
{
  opacity: 0.2;
}

footer .address{
  color: white;
}

#copy
{
  color: #fff;
  background: #333;
  text-align: center;
  width: 100% !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 12px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/*.chaport-container .chaport-launcher .chaport-launcher-button .chaport-launcher-chat-icon{*/
/*background-image: url("../images/chat.png") !important;*/
/*!*padding-bottom: -5px;*!*/
/*}*/

.topnav, .topnav-links {
  overflow: hidden;
  position: relative;
  display: none;
}

.topnav-links{
  position: fixed;
  width: 100vw;
  /*opacity: 0;*/
  margin-top: calc(#{$header-height} - 1px);
  display: none;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.topnav-links #myLinks {
  /*display: none;*/
  z-index: 20;
}

.mobile-nav-item{
  list-style: none;
  display: inline-block;
  font-weight: 700 !important;
  font-size: 12px;
  /*margin-left: 44%;*/
  width: 100vw;
  background: $header-color;
  opacity: 0.98;
  min-height: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.mobile-nav-item:hover{
  background: #5C7085;
}

.topnav a {
  color: white;
  padding-top: 21px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 30px;
  width: 100vw;
  //height: 20px;
}

.topnav a.icon {
  display: block;
  position: relative;
  margin-right: 17px;
  text-align: left;
  padding-left: 98px;
}

.topnav a:hover {
  /*color: black;*/
}

.hamburder-active {
  color: white;
}