{% extends "marketplace/base/template.html" %}

{% block content %}
  
  <div class="row" style="display: flex; flex-wrap: wrap;">
    
    <div class="col l4 s12">
      <div class="card-panel">
        <div align="center">
          <p style="font-weight: 500; font-size: 20px; margin: 0px 0px 10px 0px;">{{ user.username }}</p>
          <img src="{% if user.userprofile.avatar %} {{ user.userprofile.avatar.url }} {% else %} https://placehold.it/150 {% endif %}" height="150px" width="150px" class="responsive-img circle" alt="">
          <p style="margin: 5px 0px 0px 0px;"><a href="{% url 'account_profile_edit_avatar' %}" class="purple-text">Change avatar</a></p>
        </div>
        <div>
          <p style="margin-bottom: 5px;">Settings</p>
          <div class="divider"></div>
          <p style="margin-left: 15px;"><a href="{% url 'account_change_password' %}" class="purple-text">Change password</a></p>
          <p style="margin-left: 15px;"><a href="{% url 'account_email' %}" class="purple-text">Manage e-mails</a></p>
          <p style="margin-left: 15px;"><a href="#" class="purple-text">Change personal info</a></p>
          <p style="margin-left: 15px;"><a href="#" class="purple-text">Change social links</a></p>
          <p style="margin-left: 15px;"><a href="{% url 'account_logout' %}" class="purple-text">Sign out</a></p>
        </div>
      </div>
    </div>

    <div class="col l8 s12">
      {% block account_content %}
      <div class="row" style="margin-bottom: 0px;">
        <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item">
              <div>Primary e-mail
                <span class="secondary-content purple-text text-darken-4">
                  {% if user.email %}
                    {{ user.email }}
                  {% else %}
                    -
                  {% endif %}
                </span>
              </div>
            </li>
            <li class="collection-item">
              <div>First name
                <span class="secondary-content purple-text text-darken-4">
                  {% if user.first_name %}
                    {{ user.first_name }}
                  {% else %}
                    -
                  {% endif %}
                </span>
              </div>
            </li>
            <li class="collection-item">
              <div>Last name
                <span class="secondary-content purple-text text-darken-4">
                  {% if user.first_name %}
                    {{ user.last_name }}
                  {% else %}
                    -
                  {% endif %}
                </span>
              </div>
            </li>
            <li class="collection-item">
              <div>Country
                <span class="secondary-content purple-text text-darken-4">-</span>
              </div>
            </li>
            <li class="collection-item">
              <div>Timezone
                <span class="secondary-content purple-text text-darken-4">-</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" style="margin-bottom: 0px;">
        <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item">
              <div>Facebook
                <span class="secondary-content purple-text text-darken-4">-</span>
              </div>
            </li>
            <li class="collection-item">
              <div>Twitter
                <span class="secondary-content purple-text text-darken-4">-</span>
              </div>
            </li>
            <li class="collection-item">
              <div>Youtube
                <span class="secondary-content purple-text text-darken-4">-</span>
              </div>
            </li>
            <li class="collection-item">
              <div>Planet Minecraft
                <span class="secondary-content purple-text text-darken-4">-</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" style="margin-bottom: 0px;">
        <div class="col s12">
          <div class="card-panel">
            <p><span style="font-weight: 500;">About me</span></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item">
              <div>Member since
                <span class="secondary-content purple-text text-darken-4">{{ user.date_joined }}</span>
              </div>
            </li>
            <li class="collection-item">
              <div>Last login
                <span class="secondary-content purple-text text-darken-4 500weight">{{ user.last_login }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    {% endblock account_content %}
    </div>

  </div>

{% endblock content %}