{% extends "profiles/account.html" %}

{% block account_content %}

<div class="section" style="padding: .30rem .75rem 1rem 0rem;">
  <span>
    <a href="{% url 'account_profile' %}" class="grey-text text-darken-2">Account</a> > Change avatar
  </span>
</div>

<div class="row">

  <div class="col s12">
    <div class="card-panel" style="padding: 25px 80px 25px 80px;">

      <p>Recommended image size is 250x250 pixels.</p>

      <form enctype="multipart/form-data" method="post">
      
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class='row'>
          <div class='file-field input-field col s12'>
            <div class="btn purple">
              <span>Select Image</span>
              <input type="file" name="avatar" required id="id_avatar">
            </div>
            <div class="file-path-wrapper">
              <input type="text" class="file-path" placeholder="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Choose a file{% endif %}">
            </div>
          </div>
          
          {% for error in form.avatar.errors %}
            <span class="left red-text" >* {{ error }}</span>
          {% endfor %}
        </div>

        <div class='row'>
          <a href="{% url 'account_profile' %}" name='btn_login' class='col s3 btn btn-large waves-effect grey darken-1'>Cancel</a>
          <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect purple darken-1'>Update Avatar</button>
        </div>

      </form>

    </div>
  </div>
    
</div>


{% endblock account_content %}