{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

	<div class="section"></div>

	<div class="newcontainer">
		
		<div class="section row">

			<div class="col xl8 offset-xl2 s12">
		    <div class="card-panel" style="padding: 25px 80px 25px 80px;">

		    	<form method="post">

		    		{% csrf_token %}
		        <div class="section"></div>

						{{ form.non_field_errors }}

						{% for field in form %}
							<div class='row'>
			          <div class='input-field col s12'>
			          	{{ field }}
			            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
			          </div>
			          {% for error in field.errors %}
			          	<span class="left red-text" >* {{ error }}</span>
			          {% endfor %}
			        </div>
						{% endfor %}

		        <br />
		        <center>
		          <div class='row'>
		            <a href="{% url 'my_profile' %}" name='btn_login' class='col s3 btn btn-large waves-effect grey darken-2'>Cancel</a>
		            <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect purple darken-1'>Save Changes</button>
		          </div>
		        </center>
		      </form>
		    </div>

		  </div>
				
		</div>

	</div>



{% endblock content %}