{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

	<div class="section"></div>

	<div class="newcontainer">
		
		<div class="section row">

			<div class="col xl6 l6 s12">
				<div class="card">
	        <div class="card-content">

						<div class="row" style="margin-bottom: 0px;">
							<div class="col s6">
								{% if user.userprofile.avatar %}
									<img class="responsive-img"  src={{user.userprofile.avatar.url}}>
								{% else %}
									<img class="responsive-img"  src={% static "profiles/default_avatar.png" %}>
								{% endif %}
							</div>
							<div class="col s6">
								<h3 style="margin: 0px;"><div class="right">{{ user.username }}</div></h3>
							</div>
						</div>

					</div>
					<div class="card-action">
						<a href="{% url 'my_profile_edit_avatar' %}" class="purple-text">Upload new avatar</a>
					</div>
				</div>
			</div>

			<div class="col xl6 l6 s12">
				<div class="card">
					<div class="card-content">

						<div class="row" style="margin: 0px;">
							<div class="col s6">
								<div class="left">
										<span>Member since:</span>
								</div>
							</div>
							<div class="col s6">
								<div class="right">
										<span><b>{{ user.date_joined }}</b></span>
								</div>
							</div>
						</div>
						
						<div class="divider"></div>
						<br>

						<div class="row" style="margin: 0px;">
							<div class="col s6">
								<div class="left">
										<span>Last login:</span>
								</div>
							</div>
							<div class="col s6">
								<div class="right">
										<span><b>{{ user.last_login }}</b></span>
								</div>
							</div>
						</div>

						<div class="divider"></div>
						<br>

						<div class="row" style="margin: 0px;">
							<div class="col s6">
								<div class="left">
										<span>First name:</span>
								</div>
							</div>
							<div class="col s6">
								<div class="right">
									{% if user.first_name %}
										<span><b>{{ user.first_name }}</b></span>
									{% else %}
										<span><b>-</b></span>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="divider"></div>
						<br>

						<div class="row" style="margin: 0px;">
							<div class="col s6">
								<div class="left">
										<span>Last name:</span>
								</div>
							</div>
							<div class="col s6">
								<div class="right">
									{% if user.last_name %}
										<span><b>{{ user.last_name }}</b></span>
									{% else %}
										<span><b>-</b></span>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="divider" style="margin-bottom: 10px;"></div>
					
					</div>

					<div class="card-action">
						<a href="{% url 'my_profile_edit_personal' %}" class="purple-text">Edit Info</a>
					</div>

				</div>

			</div>

		</div>


		{% if user.marketplace_user %}
			<div class="row">
	
				<div class="col xl6 l6 s12">
					<div class="card">
						<div class="card-content">

							<div class="row" style="margin: 0px;">
								<div class="col s6">
									<div class="left">
											<span>Paypal:</span>
									</div>
								</div>
								<div class="col s6">
									<div class="right">
										{% if userprofile.paypal_address %}
											<span><b>{{ userprofile.paypal_address }}</b></span>
										{% else %}
											<span><b>-</b></span>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="divider"></div>
						</div>
						<div class="card-action">
							<a href="{% url 'my_profile_edit_info' %}" class="purple-text">Manage Paypal Address</a>
						</div>
					</div>
				</div>

			</div>
		{% endif %}

		
<!--
			<div class="col xl6 l6 s12">
				<div class="card">
					<div class="card-content">
						<div class="row" style="margin: 0px;">
							<div class="col s6">
								<div class="left">
									{# TODO: Maybe show the list with all e-mails #}
										<span>Primary E-Mail:</span>
								</div>
							</div>
							<div class="col s6">
								<div class="right">
									{% if user.email %}
										<span><b>{{ user.email }}</b></span>
									{% else %}
										<span><b>-</b></span>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="divider"></div>
					</div>
					<div class="card-action">
						<a href="{% url 'account_email' %}" class="purple-text">Manage E-mails</a>
					</div>
				</div>
			</div>
-->
		

	</div>


{% endblock content %}