{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">
    
    {% if request_user_is_marketplace_manager %}
      <style>
        .manager_button{
          margin-left: 15px;
        }
      </style>

      {% if profile_user_is_marketplace_user %}
        <a href="#" class="btn purple darken-2 manager_button" disabled>Grant user Marketplace Rights</a>
        <a href="{% url 'marketplace_users_remove' username=userprofile.user.username %}" class="btn purple darken-2 manager_button">Remove Marketplace Rights from User</a>
      {% else %}
        <form method="post" action="{% url 'marketplace_users_add' username=userprofile.user.username %}" style="display: inline;">{% csrf_token %}
          <button type="submit" class='btn purple darken-2 manager_button'>Grant user Marketplace Rights</button>
        </form>
        <a href="#" class="btn purple darken-2 manager_button" disabled>Remove Marketplace Rights from User</a>
      {% endif %}
    {% endif %}

    <div class="section row">

      <div class="col xl6 l6 s12">
        <div class="card">
          <div class="card-content">

            <div class="row" style="margin-bottom: 0px;">
              <div class="col s6">
                {% if user.userprofile.avatar %}
                  <img class="responsive-img"  src={{user.userprofile.avatar.url}}>
                {% else %}
                  <img class="responsive-img"  src={% static "profiles/default_avatar.png" %}>
                {% endif %}
              </div>
              <div class="col s6">
                <h3 style="margin: 0px;"><div class="right">{{ userprofile.user.username }}</div></h3>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col xl6 l6 s12">
        <div class="card">
          <div class="card-content">

            <div class="row" style="margin: 0px;">
              <div class="col s6">
                <div class="left">
                    <span>Member since:</span>
                </div>
              </div>
              <div class="col s6">
                <div class="right">
                    <span><b>{{ userprofile.user.date_joined }}</b></span>
                </div>
              </div>
            </div>
            
            <div class="divider"></div>
            <br>

            <div class="row" style="margin: 0px;">
              <div class="col s6">
                <div class="left">
                    <span>Last login:</span>
                </div>
              </div>
              <div class="col s6">
                <div class="right">
                    <span><b>{{ userprofile.user.last_login }}</b></span>
                </div>
              </div>
            </div>

            <div class="divider"></div>
            <br>

            <div class="row" style="margin: 0px;">
              <div class="col s6">
                <div class="left">
                    <span>First name:</span>
                </div>
              </div>
              <div class="col s6">
                <div class="right">
                  {% if userprofile.user.first_name %}
                    <span><b>{{ userprofile.user.first_name }}</b></span>
                  {% else %}
                    <span><b>-</b></span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <br>

            <div class="row" style="margin: 0px;">
              <div class="col s6">
                <div class="left">
                    <span>Last name:</span>
                </div>
              </div>
              <div class="col s6">
                <div class="right">
                  {% if userprofile.user.last_name %}
                    <span><b>{{ userprofile.user.last_name }}</b></span>
                  {% else %}
                    <span><b>-</b></span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="divider" style="margin-bottom: 10px;"></div>
          
          </div>

        </div>

      </div>

    </div>



  </div>


{% endblock content %}