@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

a, a:active{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}


a:hover{
    color: black;
}

#main{
    height: 100vh;
    width: 100vw;
}

#main .body-background{
    background: #6c5ce7;

    /*background: url('wallpaper2.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

    height: 1500px;
    width: 100%;
    border: 25px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.body{
    padding-top: 35px;
}

.body table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.multicraft-details{
    margin-top: 50px;
}

.body table tr td{
    border-top: 2px solid #428fdd;
    padding: 5px;
}

.body table tr td:first-child{
    width: 20px;
}

.body table tr td:last-child{
    width: 50%;
}

.body table tr:last-child td{
    border-bottom: 2px solid #428fdd;
}

.card-title img{
    width: 200px;
    padding-top: 50px;
}

.card{
    margin: 0 40px;
}

.container{
    padding: 0 5vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.card .card-content{
    height: 100%;
    background: rgba(248, 248, 248, 0.95);
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;

    -webkit-box-shadow: 0 0 69px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0 0 69px -2px rgba(0,0,0,0.16);
    box-shadow: 0 0 69px -2px rgba(0,0,0,0.16);
}

.single-table-cell{
    border-top: 2px solid #428fdd;
    border-bottom: 2px solid #428fdd;
}

.single-table-cell p{
    margin: 0;
}

.server-ip{
    margin-top: 50px;
}

.button{
    border: none;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-blue{
    background: #00a0d7;
    color: white;
}

.button:hover{
    opacity: 0.5;
}

h3{
    margin-bottom: 5px;
}

h1, h2, h3{
    color: dodgerblue;
    text-transform: uppercase;
    text-align: center;
}

.card-content h1{
    padding-top: 20px;
    font-size: 35px;
    font-weight: 500;
}

.card-content h2{
    margin-top: -30px;
    font-size: 25px;
    font-weight: 200;
}

.footer-sub{
    width: 100% !important;
    height: 20px;
    font-size: 13px;
}

.footer{
    width: 100%;
    height: 20px;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.footer-sub ul{
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    width: 80%;
    text-align: center;
    padding: 0 0 !important;
}

.footer-sub ul li:not(:nth-child(1)){
    padding: 0 10px;
}

.footer-sub ul li{
    /*float: left;*/
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 60em) {/* 960px */
    .footer-sub ul{
        color: red;
    }
}