{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

  <div class="newcontainer">

    <div style="padding-top: 1rem; margin-left: 15px;">
      <span> <a href="{% url 'marketplace' %}" class="grey-text text-darken-1">Marketplace</a> > Users </span>
    </div>

    <div class="row">

      {% if object_list.count > 0 %}
        
        <h5 style="margin-left: 15px;">Users that have Marketplace rights:</h5>

        {% for marketplace_user in object_list %}
          <div class="card-panel col l2 s6 center-align" style="padding: 25px; margin: 15px;">
            <a href="{% url 'public_profile' username=marketplace_user.user.username %}">
              {% if marketplace_user.user.userprofile.avatar %}
                <img class="responsive-img circle"  src={{marketplace_user.user.userprofile.avatar.url}}>
              {% else %}
                <img class="responsive-img circle"  src={% static "profiles/default_avatar.png" %}>
              {% endif %}
              <br>
              {{marketplace_user.user.username}}
              <br>
              <a href="{% url 'marketplace_users_remove' username=marketplace_user.user.username %}" class="btn red darken-3" style="margin-top: 7.5px;">Remove rights</a>
            </a>
          </div>
        {% endfor %}
        
      {% else %}
        
        <h5>There are no users that have Marketplace rights yet!</h5>

      {% endif %}

    </div>

  </div>



{% endblock content %}