{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

  <div class="newcontainer">

    <div class="section row">

      <div class="col xl8 offset-xl2 s12">
        <div class="card-panel" style="padding: 25px 80px 25px 80px;">
          <div class="row">

          {% if object_list.count > 0 %}
            
            <h5>List of members:</h5>
          
              {% for member in object_list %}
              
                <div class="card-panel">
                  <div class="row" style="margin-bottom: 0px;">
                    <div class="col s2">
                      <center>
                        {% if member.user.userprofile.avatar %}
                          <img class="responsive-img circle"  src={{member.user.userprofile.avatar.url}} width="50px">
                        {% else %}
                          <img class="responsive-img circle"  src={% static "profiles/default_avatar.png" %} width="50px">
                        {% endif %}
                      </center>
                      
                    </div>
                    <div class="col s5">
                      <center style="margin-top: 10px;">
                        <a href="{% url 'public_profile' username=member.user.username %}">
                          {{ member.user.username }}
                        </a>
                      </center>
                    </div>
                    <div class="col s3">
                      <center style="margin-top: 10px;">
                        {{ member.earnings_percentage }}%
                      </center>
                    </div>
                    <div class="col s2">
                      <center>
                        <a href="{% url 'marketplace_members_remove' slug=project_slug pk=member.pk %}" class="btn red darken-4">Remove</a>
                      </center>
                    </div>
                  </div>
                </div>

              {% endfor %}

          {% else %}
            
            <h5>You have not added any members yet!</h5>

          {% endif %}

            <center>
              <a href="{% url 'marketplace_manager_product_detail' slug=project_slug %}" class="btn purple darken-2" style="margin-top: 15px;">Go Back</a>
              <a href="{% url 'marketplace_members_add' slug=project_slug %}" class="btn purple" style="margin-top: 15px;">Add Member</a>
            </center>

          </div>
            
        </div>

      </div>
        
    </div>

  </div>



{% endblock content %}