{% extends "pages/base/template.html" %}

{% load widget_tweaks %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">

    <div class="section row">

      <div class="col xl8 offset-xl2 s12">
        <div class="card-panel" style="padding: 25px 80px 25px 80px;">

          <form method="post">
          
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="row">
              <div class="input-field col s12">
                {{ form.user }}
                <label>Select a user</label>
              </div>
              {% for error in form.user.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{ form.earnings_percentage }}
                <label>Earnings percentage</label>
              </div>
              {% for error in form.earnings_percentage.errors %}
                <span class="left red-text" >* {{ error }}</span>
              {% endfor %}
            </div>

            <div class='row'>
              <a href="{% url 'marketplace_members_list' slug=project_slug %}" name='btn_login' class='col s3 btn btn-large waves-effect grey darken-1'>Cancel</a>
              <button type='submit' name='btn_login' class='col s8 offset-s1 btn btn-large waves-effect purple darken-1'>Add member</button>
            </div>

          </form>

        </div>
      </div>
        
    </div>

  </div>

{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>
{% endblock scripts %}