{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

	<div class="section"></div>

	<div class="newcontainer">
		
		{% include "profiles/navigation.html" %}

		<div class="divider"></div>

		<div class="section row">

			<div class="col s12">

				{% if not bought_any_items %}
					
					<span>You bought these items so far. To download your schematic, just press the download button.</span>

					<div class="card-panel">

						<div class="row">
							<div class="col s12">

								<table style="table-layout: fixed;">
					        <thead>
					          <tr>
					              <th>Preview</th>
					              <th>Name</th>
					              <th>Price</th>
					              <th>Download</th>
					          </tr>
					        </thead>

					        <tbody>
					          
										{% for i in "xxx" %}

											<tr>
						            <td><img src={% static "shop/img/account/avatar.jpg" %} class="responsive-img" height="50" width="50"></td>
						            <td>Eclair</td>
						            <td>$0.87</td>
						            <td>
						            	<a class="btn blue" href="/">
						            		<div class="hide-on-med-and-down">
						            			<i class="material-icons left">file_download</i><span>Download</span>
						            		</div>
						            		<div class="hide-on-large-only">
						            			<i class="material-icons">file_download</i>
						            		</div>
						            	</a>
						            </td>
						          </tr>

										{% endfor %}

					        </tbody>
					      </table>
								</div>
							
						</div>
					</div>

				{% else %}

					<span>You haven't bought any items so far.</span>

				{% endif %}

			</div>
		</div>

	</div>

	<div class="section"></div>


	

{% endblock content %}
