{% extends "pages/base/template.html" %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">

    <div class="section" style="padding: 0rem .75rem .75rem 1rem;">
      <span> <a href="{% url 'marketplace' %}" class="grey-text text-darken-1">Marketplace</a> > All Projects </span>
    </div>

    <div class="row" style="margin-bottom: 5px;">
      <div class="left">
        <h5 style="margin: 0px 0px 0px 15px;">List of all Marketplace projects</h5>
      </div>
      <div class="right">
        <a href="{% url 'marketplace_product_member_list' username=user.username %}" class="btn purple" style="margin-right: 15px;">View your projects</a>    
      </div>
    </div>
    
    <div class="row">
      <div class="col s12">
        <div class="card-panel">

          {% if object_list %}
          <table>
            <thead>
              <tr>
                  <th>Project Name</th>
                  <th>Category</th>
                  <th>Total Earnings</th>
                  <th>Details</th>
              </tr>
            </thead>

            <tbody>
              
              {% for product in object_list %}

                <tr>
                  <td>{{ product.name }}</td>
                  <td>Unknown</td>
                  <td>{{ product.total_earnings }}$</td>
                  <td><a href="{% url 'marketplace_manager_product_detail' slug=product.slug %}">View details</a></td>
                </tr>

              {% endfor %}

            </tbody>
          </table>

          {% else %}
            <h5>There are no projects yet.</h5>
          {% endif %}
          
                  
        </div>
      </div>
    </div>
    
  </div>

  
  <div class="section"></div>

{% endblock content %}
