{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

  <style>
    .statistic_box{
      height: 150px;
      width: 150px;
      padding: 15px 15px 15px 15px;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .scrollbar
    {
      overflow-y: auto;
    }
    #style-3::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    #style-3::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    #style-3::-webkit-scrollbar-thumb
    {
      background-color: rgb(74, 20, 140);
    }
  </style>
 
    <div class="newcontainer">
      
      <div class="section" style="padding: .75rem .75rem 0rem 1rem;">
        <span> <a href="{% url 'marketplace' %}" class="grey-text text-darken-1">Marketplace</a> > {{ product.name }} </span>
      </div>

      <div class="row" style="margin-bottom: 0px;">
        <div class="col l8 m12">
          <div class="card-panel">
            <div class="row">
              <div class="col s9">
                <h5>{{ product.name }}</h5>
                <p>No description.</p>
              </div>
              <div class="col s3">
                <center>
                  <div class="statistic_box purple darken-3 white-text center-align z-depth-2">
                    <div style="margin-top: 20px;">
                      Total Earnings
                    </div>
                    <div style="font-size: 25px; margin-top: 15px;">
                      {{ product_total_earnings }}$
                    </div>
                  </div>
                </center>
              </div>
            </div>

            {% if user_is_member %}
              
              <div class="divider"></div>
              
              <div class="row" style="margin-bottom: 0px;">
                <h5 style="margin: 15px 0px 20px 12.5px;">Your statistics:</h5>
                
                <div class="col l3 m6">
                  <center>
                    <div class="statistic_box purple darken-1 white-text center-align z-depth-2">
                      <div style="margin-top: 20px;">
                        Percentage
                      </div>
                      <div style="font-size: 35px; margin-top: 7.5px;">
                        {{ member_earnings_percentage }}%
                      </div>
                    </div>
                  </center>
                </div>
                <div class="col l3 m6">
                  <center>
                    <div class="statistic_box purple darken-1 white-text center-align z-depth-2">
                      <div style="margin-top: 20px;">
                        Total Earnings
                      </div>
                      <div style="font-size: 25px; margin-top: 15px;">
                        {{ member_total_earnings }}$
                      </div>
                    </div>
                  </center>
                </div>
                <div class="col l3 m6">
                  <center>
                    <div class="statistic_box purple darken-1 white-text center-align z-depth-2">
                      <div style="margin-top: 10px;">
                        Last month earnings
                      </div>
                      <div style="font-size: 25px; margin-top: 10px;">
                        {{ last_month_earnings }}$
                      </div>
                    </div>
                  </center>
                </div>
                
              </div>

            {% endif %}

          </div>
        </div>
        <div class="col l4 m12">
          <div class="card-panel scrollbar" id="style-3" style="height: 470px;">
            <div class="row" style="margin-bottom: 0px;">
              <div class="left">
                <h5 style="margin: 5px 0px 0px 15px;">Members: </h5>
              </div>
              {% if user.is_marketplace_manager %}
                <div class="right">
                  <a href="{% url 'marketplace_members_list' slug=product.slug %}" class="btn purple" style="margin-right: 15px;">Manage members</a>
                </div>
              {% endif %}
            </div>
            
            <br>

            <div class="divider" style="margin-bottom: 8px;"></div>
            {% for member in members.all %}
            
              <div class="row" style="margin-bottom: 0px;">
                <div class="col s3">
                  <center>
                    {% if member.user.userprofile.avatar %}
                      <img class="responsive-img circle"  src={{member.user.userprofile.avatar.url}} width="50px">
                    {% else %}
                      <img class="responsive-img circle"  src={% static "profiles/default_avatar.png" %} width="50px">
                    {% endif %}
                  </center>
                  
                </div>
                <div class="col s5">
                  <center style="margin-top: 10px;">
                    <a href=""> {# TODO: Add link to the public user profile #}
                      {{ member.user.username }}
                    </a>
                  </center>
                </div>
                <div class="col s4">
                  <center style="margin-top: 10px;">
                    {{ member.earnings_percentage }}%
                  </center>
                    
                </div>
              </div>
              <div class="divider" style="margin-bottom: 7px; margin-top: 2px;"></div>

            {% endfor %}

          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 0px; display: none;">
        <div class="col" style="margin-top: 11px;">
            <p>Check statistics between dates: </p>
        </div>
        <div class="input-field col s3">
            <input type="text" class="datepicker" id="starting_date">
            <label for="starting_date">Starting Date</label>
        </div>
        <div class="input-field col s3">
            <input type="text" class="datepicker" id="ending_date">
            <label for="ending_date">Ending Date</label>
        </div>
        <div class="">
            <a id="submit_dates" href="#" class="btn purple" style="margin-top: 20px;">Submit</a>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <canvas id="myChart" height="90"></canvas>
          </div>
        </div>
      </div>
      
    </div>

  <div class="section"></div>

{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script>

  function isEmpty(el){
      return !$.trim(el.val())
  }
  
  $('#submit_dates').click(function () {
    
    if (isEmpty($('#starting_date')) || isEmpty($('#ending_date')))
        return;
    
    var startingDate = new Date($('#starting_date').val());
    var endingDate = new Date($('#ending_date').val());

    console.log(startingDate);
    console.log(endingDate);
    
    if (startingDate > endingDate) {
        console.log("error!");
        return;
    }
    
    
    
    // window.location.href = "/portfolio/";
  });
  
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  
  var user_is_member = false;
  {% if user_is_member %}
    user_is_member = true; 
  {% endif %}

  var ctx = document.getElementById("myChart").getContext('2d');

  var product_monthly_earnings = JSON.parse('{{ product.monthly_earnings|safe }}');
  
  var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  
  var months = Object.keys(product_monthly_earnings); 
  
  months.sort(function(a,b){
    return allMonths.indexOf(a) - allMonths.indexOf(b);
  });
   
  var product_earnings = [];
  
  for (var key in months) {
    product_earnings.push(product_monthly_earnings[months[key]]);
  }
  
  var member_monthly_earnings;
  var member_earnings;

  var datasets = [];

  product_dataset = {
    label: 'Product Monthly Earnings',
    fill: false,
    backgroundColor: 'rgb(153, 102, 255)',
    borderColor: 'rgb(153, 102, 255)',
    data: product_earnings
  };

  console.log(product_dataset);
  
  datasets.push(product_dataset);

  if (user_is_member)
  {
    member_monthly_earnings = JSON.parse('{{ member_monthly_earnings|safe }}');
    var member_earnings = [];
  
    for (var key in months) {
        member_earnings.push(member_monthly_earnings[months[key]]);
    }
  
    member_dataset = {
      label: 'Your Monthly Earnings',
      fill: false,
      backgroundColor: 'rgb(229, 103, 254)',
      borderColor: 'rgb(229, 103, 254)',
      data: member_earnings
    };

    datasets.push(member_dataset);
  }

  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: months,
          datasets: datasets
      },
      options: {
        responsive: true,
        elements: {
          line: {
            tension: 0
          }
        },
        title: {
          display: true,
          text: 'Your Earnings'
        },
        tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function(tooltipItems, data) {
              var text = "Product Earnings: $";
              console.log(tooltipItems);
              if (tooltipItems.datasetIndex === 1) {
                var text = "Your Earnings: $";
              }
              value = tooltipItems.yLabel;
              if (parseInt(value) >= 1000) {
                 return text + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                 return text + value;
              }
            }
          }
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          yAxes: [{
              ticks: {
                 beginAtZero: true,
                 callback: function(value, index, values) {
                    if (parseInt(value) >= 1000) {
                       return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    } else {
                       return '$' + value;
                    }
                 }
              }
           }]
        }
      },
      
      
  });
  </script>
{% endblock scripts %}