{% extends "pages/base/template.html" %}

{% load static %}

{% block content %}

  <style>
    .statistic_box{
      height: 150px;
      width: 150px;
      padding: 15px 15px 15px 15px;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>

  <div class="section"></div>

  <div class="newcontainer">

  {# <div class="divider"></div> #}

  <div class="row">
    <div class="col s12">
      {# <div class="card-panel grey lighten-5"> #}

        <div class="row" style="margin-bottom: 0px;">
          
          <div class="col l2 offset-l4 s6">
            <center>
              <div class="statistic_box purple darken-3 white-text center-align z-depth-2">
                <div style="margin-top: 20px;">
                  Total Earnings
                </div>
                <div style="font-size: 25px; margin-top: 15px;">
                  {{ total_earnings }}$
                </div>
              </div>
            </center>
          </div>
          
          <div class="col l2 s6">
            <center>
              <div class="statistic_box purple darken-3 white-text center-align z-depth-2">
                <div style="margin-top: 12.5px;">
                  Avg. Percentage Owned
                </div>
                <div style="font-size: 30px; margin-top: 7.5px;">
                  {{ average_percentage }}%
                </div>
              </div>
            </center>
          </div>
        
        {# </div> #}
      </div>
    </div>
  </div>

  {% if user.is_marketplace_manager %}
    
    <div class="row center-align" style="margin-bottom: 0px;">
      <a href="{% url 'marketplace_product_list' %}" class="btn purple" style="margin: 0px 10px 15px 10px;">View all projects</a>
    </div>

  {% endif %}

  <div class="row">
    <div class="col s12">
      <div class="card-panel">

        {% if object_list %}
        <table>
          <thead>
            <tr>
                <th>Project Name</th>
                <th>Category</th>
                <th>Your Earnings</th>
                <th>Percentage</th>
                <th>Details</th>
            </tr>
          </thead>

          <tbody>
            
            {% for product in object_list %}

              <tr>
                <td>{{ product.name }}</td>
                <td>Skin Pack</td>
                <td>{{ product.member_total_earnings }}$</td>
                <td>{{ product.member_earnings_percentage }}%</td>
                <td><a href="{% url 'marketplace_product_member_detail' slug=product.slug username=user.get_username %}">View details</a></td>
              </tr>

            {% endfor %}

          </tbody>
        </table>

        {% else %}
          <h5>You don't have any projects yet.</h5>
        {% endif %}
        
                
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <span>Total Earnings: </span>
        <canvas id="myChart" height="90"></canvas>
      </div>
      
    </div>
  </div>
    
  </div>

  
  <div class="section"></div>

{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script>
  var ctx = document.getElementById("myChart").getContext('2d');  

  var monthly_earnings = JSON.parse('{{ monthly_earnings|safe }}');
  var earnings = [];
  
  console.log(monthly_earnings);

  var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  
  var months = Object.keys(monthly_earnings); 
  
  months.sort(function(a,b){
    return allMonths.indexOf(a) - allMonths.indexOf(b);
  });

  for (var key in months) {
    earnings.push(monthly_earnings[months[key]]);
  }
  
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: months,

          datasets: [{
              label: 'Monthly Earnings',
              fill: false,
              backgroundColor: 'rgb(153, 102, 255)',
              borderColor: 'rgb(153, 102, 255)',
              data: earnings
          }]
      },
      options: {
        responsive: true,
        elements: {
          line: {
            tension: 0
          }
        },
        title: {
          display: true,
          text: 'Your Earnings'
        },
        tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function(tooltipItems, data) {
              value = tooltipItems.yLabel;
              if (parseInt(value) >= 1000) {
                 return 'Earnings: $' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                 return 'Earnings: $' + value;
              }
            }
          }
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          yAxes: [{
              ticks: {
                 beginAtZero: true,
                 callback: function(value, index, values) {
                    if (parseInt(value) >= 1000) {
                       return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    } else {
                       return '$' + value;
                    }
                 }
              }
           }]
        }
      },
  });
  </script>
{% endblock scripts %}