{% extends "pages/base/template.html" %}

{% block content %}

  <div class="section"></div>

  <div class="newcontainer">

    
    
  </div>

  
  <div class="section"></div>

{% endblock content %}
